<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card text-center mt-5 border-0">
                <!-- <div class="card-header">
                    Featured
                </div> -->
                <div class="card-body mt-5">

                    <div style="font-size: 70px; color: greenyellow;">
                        <i class="bi bi-check2-circle"></i>
                    </div>

                    <h4 class="card-title">Success</h4>
                    <p class="card-text">
                        Congratulation Your Account has been Successfully Created.
                    </p>
                    
                    <div class="text-center  mx-auto" style="max-width: 200px;">
                        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
                    </div>

                    <p class="card-text" style="font-size: 12px;">
                       Please Wait for Few Seconds.
                    </p>

                </div>
            </div>
        </div>
    </div>
</div>