<div class="container p-4">
    <p>Mapping Files</p>


    <form #fileForm="ngForm" (ngSubmit)="submitForm()">
      <div *ngFor="let item of fileItems; let i = index" class="mb-4 card p-3">
        <p>File {{ i + 1 }}</p>
        <div class="mb-3">
          <label  for="title{{ i }}">Title</label>
          <input
            type="text"
            id="title{{ i }}"
            name="title{{ i }}"
            class="form-control form-control-sm"
            [(ngModel)]="fileItems[i].title"
            required
          />
        </div>
        <div class="mb-3">
          <label for="description{{ i }}">Description</label>
          <textarea
            id="description{{ i }}"
            name="description{{ i }}"
            class="form-control form-control-sm"
            [(ngModel)]="fileItems[i].description"
            required
          ></textarea>
        </div>
        <div class="mb-3">
          <label for="file{{ i }}">File</label>
          <input
            type="file"
            id="file{{ i }}"
            name="file{{ i }}"
            class="form-control form-control-sm"
            (change)="onFileSelect($event, i)"
            required
          />
        </div>
      </div>
      <div class="text-end">
        <button type="submit" class="btn mapBtn fs11" mat-button [disabled]="!fileForm.form.valid">
          Submit
        </button>
      </div>

    </form>

  </div>
  