/* Header CSS */
.changeDesign{
  color: #34495e;
  font-size: 12px;
}

.headerH{
  color: #7f8c8d;
}

.order-info {
  display: flex;
  gap: 30px; 
}

.moreDetails{
  background-color: #f3e912;
  font-size: 12px;
  height: 30px; 
  min-width: 80px;
  color: black;
}


.order-heading {
  font-size: 1.1rem; /* Medium-large size */
  font-weight: 500; /* Semi-bold */
  color: #007bff; /* Attractive blue color */
  text-align: center; /* Centered text */
  padding: 10px;
  border-bottom: 2px solid #007bff; /* Underline effect */
  display: inline-block;
  margin-bottom: 1rem;
}

/* =======INSIDE CARD CSS STARTING======== */
.custom-shadow-and-radius {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.30);
  border-radius: 12px;
}

.badge-paid {
  background: #d4edda;
  color: #155724;
  padding: 5px 10px;
  border-radius: 5px;
}

.custom-pname{
  font-weight: 500;
}

.order-details {
  font-size: 12px;
  color: #666;
  display: flex;
  align-items: center;
}


.detailsBtn{
  background-color: #f3e912;
  font-size: 12px;
  height: 30px; 
  min-width: 80px;
  color: black;
}

.trackBtn{
  background-color: #2903ff;
  font-size: 12px;
  height: 30px; 
  min-width: 80px;
  color: white;
}

.labelBtn{
  background-color: #e1db22;
  font-size: 12px;
  height: 30px; 
  min-width: 80px;
  color: rgb(0, 0, 0);
}

/* =======INSIDE CARD CSS ENDING======== */



/* ====================== */


/* Running TRUCK */
.running-truck {
  display: inline-block;
  animation: moveTruck 1s infinite ease-in-out, colorChange 1s infinite;
  font-size: 13px;
}
@keyframes moveTruck {
  0% {
      transform: translateX(0);
  }

  50% {
      transform: translateX(10px);
  }

  100% {
      transform: translateX(0);
  }
}

@keyframes colorChange {
  0% {
      color: #d35400;
  }

  /* Orange */
  33% {
      color: #27ae60;
  }

  /* Green */
  66% {
      color: #2980b9;
  }

  /* Blue */
  100% {
      color: #d35400;
  }
}





/* =============TRACKING STEPPER ORDER+============================ */
.trackerContainer {
  max-width: 350px;
}

.stepper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 100%;
}

.step {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  flex-grow: 1;
}

.step-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.circle {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: lightgray;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  color: white;
  font-weight: bold;
  z-index: 2;
}

.circle.active,
.circle.completed {
  background-color: green;
}

.circle i {
  color: white;
}

.status-text {
  margin-top: 5px; /* Space between the circle and text */
  font-size: 6px;
  color: #5d6d7e;
  text-align: center;
}

.line {
  position: absolute;
  top: 15px; /* Align with the center of the circle */
  left: 100%;
  width: 100%;
  height: 5px;
  background-color: lightgray;
  transform: translateX(-50%);
  z-index: 1;
}

.line.completed {
  background-color: green;
}

/* =============TRACKING STEPPER ORDER ENIDNG============================ */





  /* MODEL  STARTING*/
  .modal-dialog {
    max-width: 550px; /* Adjust width */
  }
  
  .modal-content {
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border: none;
    padding: 15px;
    max-height: 550px; /* Adjust height */
  }
    /* MODEL  ENDING*/



    