


<!-- Button to open modal (for demonstration) -->
<!-- Modal Structure -->
<div class="modal" *ngIf="isModalOpen">
  <div class="modal-content">
    <!-- <div class="modal-header"></div> -->
     <div class="text-cente">
      <i style="color: blue;" class="bi bi-rocket-takeoff"></i>
     </div> 
    <div class="modal-message">Are, you sure you want to submit this Catalog</div>

    <div class="d-flex justify-content-center">
      <button mat-raised-button (click)="closeModal()" class="mx-2">Cancel</button>
      <button mat-raised-button (click)="confirmAction()" color="primary" class="mx-2">Submit</button>
    </div>
    
  </div>
</div>




  




<!-- 
<div class="row container bg-white mt-3 p-3" style="border-radius:10px ;">

       <div class="col-md-8">
             <form [formGroup]="productFormBuilder" (ngSubmit)="onSubmit()" >

              

                <div class="row mb-3">

                  
                  <div class="col-md-6 mb-2"  *ngFor="let field of formConfig">
                      <label [for]="field.identifier" class="form-label fs13">{{ field.name }}</label>

                          <input
                          *ngIf="field.type === 'text'"
                          type="text"
                          [formControlName]="field.identifier"
                          [id]="field.identifier"
                          class="form-control custom-height"
                          [placeholder]="field.description"
                          aria-label="file example"
                          [ngClass]="{
                            'is-invalid': productFormBuilder.get(field.identifier)?.touched &&
                                        productFormBuilder.get(field.identifier)?.invalid
                          }"
                        />
                    

                        <div>
                          <select
                            *ngIf="field.type === 'dropdown'"
                            [formControlName]="field.identifier"
                            [id]="field.identifier"
                            class="form-select"
                            [ngClass]="{
                              'is-invalid': productFormBuilder.get(field.identifier)?.touched &&
                                           productFormBuilder.get(field.identifier)?.invalid
                            }"
                          >
                          <option selected disabled value="">select...</option>
                            <option *ngFor="let option of field.values" [value]="option">{{ option }}</option>
                          </select>
                        </div>
                      
                        

                       <div *ngIf="field.type === 'multi-select'" class="form-check">
                        <div 
                          class="overflow-auto border rounded p-2 d-flex flex-column" 
                          style="height: 100px; width: 310px;">
                          <div 
                            *ngFor="let option of field.values" 
                            class="form-check">
                            <input
                              type="checkbox"
                              class="form-check-input"
                              [id]="field.identifier + '_' + option"
                              [value]="option"
                              [checked]="productFormBuilder.get(field.identifier)?.value?.includes(option)"
                              (change)="onCheckboxChange($event, field)"
                              
                            />
                            <label 
                              class="form-check-label" 
                              [for]="field.identifier + '_' + option">
                              {{ option }}
                            </label>
                          </div>
                        </div>
                      </div>



                      <div *ngIf="productFormBuilder.get(field.identifier)?.touched && productFormBuilder.get(field.identifier)?.invalid"
                        class="text-danger fs12">
                        <small *ngIf="productFormBuilder.get(field.identifier)?.errors?.['required']">
                          {{ field.name }} is required.
                        </small>
                        <small *ngIf="productFormBuilder.get(field.identifier)?.errors?.['min']">
                          Minimum value is {{ field.min }}.
                        </small>
                        <small *ngIf="productFormBuilder.get(field.identifier)?.errors?.['max']">
                          Maximum value is {{ field.max }}.
                        </small>
                      </div>
                  </div>



                  <div class="col-md-12 mb-2"  *ngFor="let field of sizeConfig">
                    <div *ngIf="field.type === 'multi-select'" class="form-check">
                      <div 
                        class="border rounded p-2 d-flex flex-column" 
                        style="height: 200px; width: 100%;">
                        <div 
                          *ngFor="let option of field.values" 
                          class="form-check">
                          <input
                            type="checkbox"
                            class="form-check-input"
                            [id]="field.identifier + '_' + option"
                            [value]="option"
                            [checked]="productFormBuilder.get(field.identifier)?.value?.includes(option)"
                            (change)="onCheckboxChange($event, field)"
                            
                          />
                          <label 
                            class="form-check-label" 
                            [for]="field.identifier + '_' + option">
                            {{ option }}
                          </label>
                        </div>
                      </div>
                    </div>
                  </div>



                    <table  #table class="table table-bordered"  *ngIf="checkBawal.length > 0" >
                      <thead>
                        <tr >
                          <th *ngFor="let field of formConfig">{{field.name}}</th>
                        </tr>
                      </thead>
                      <tbody>
                            <tr  *ngFor="let option of checkBawal">
                              <td *ngFor="let field of formConfig">
                            
                                <div *ngIf="field.type === 'text'">
                                  <input
                                    type="text"
                                    [formControlName]="field.identifier"
                                    [id]="field.identifier"
                                    class="form-control custom-height"
                                    [placeholder]="field.description"
                                    val
                                    [ngClass]="{
                                      'is-invalid': productFormBuilder.get(field.identifier)?.touched &&
                                                    productFormBuilder.get(field.identifier)?.invalid
                                    }"
                                  />
                                </div>

                                <div >
                                  <select
                                    *ngIf="field.type === 'dropdown'"
                                    [formControlName]="field.identifier"
                                    [id]="field.identifier"
                                    class="form-select"
                                    [ngClass]="{
                                      'is-invalid': productFormBuilder.get(field.identifier)?.touched &&
                                                   productFormBuilder.get(field.identifier)?.invalid
                                    }"
                                  >
                                    <option *ngFor="let option of field.values">{{ option }}</option>
                                  </select>
                                </div>
                                </td>
                                </tr>
                      </tbody>
                    </table>



                    <div class="col-md-6 mb-2"  *ngFor="let field of variationConfig">
                      <label [for]="field.identifier" class="form-label fs13">{{ field.name }}</label>

                          <input
                          *ngIf="field.type === 'text'"
                          type="text"
                          [formControlName]="field.identifier"
                          [id]="field.identifier"
                          class="form-control custom-height"
                          [placeholder]="field.description"
                          aria-label="file example"
                          [ngClass]="{
                            'is-invalid': productFormBuilder.get(field.identifier)?.touched &&
                                        productFormBuilder.get(field.identifier)?.invalid
                          }"
                        />
                    </div>

                </div>            
            <button type="submit" class="btn btn-primary" >Submit</button>
          </form>

       </div>



       <div class="col-md-4">
        <button mat-raised-button (click)="loadProductData()" >Load Data</button>
       </div>

 </div> -->

  
















<!-- 

 <form [formGroup]="form" (ngSubmit)="onSubmit()">

  
  <table>
    <thead>
      <tr>
        <th *ngFor="let col of columns">{{ col.label }}</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody formArrayName="rows">
      <tr *ngFor="let row of rows.controls; let i = index" [formGroupName]="i">
        <td *ngFor="let col of columns">
          <input [formControlName]="col.key" [type]="col.type" />
        </td>
        <td>
          <button type="button" (click)="removeRow(i)">Remove</button>
        </td>
      </tr>
    </tbody>
  </table>
  <button type="button" (click)="addRow()">Add Row</button>
  <button type="submit" [disabled]="form.invalid">Submit</button>
</form>

<pre>{{ form.value | json }}</pre> -->

<!-- ==================================================== -->
<!-- <div>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    
    <div>
      <label *ngFor="let option of checkboxOptions">
        <input
          type="checkbox"
          [value]="option"
          (change)="onCheckboxChange($event)"
        />
        {{ option }}
      </label>
    </div>

 
    <table>
      <thead>
        <tr>
          <th *ngFor="let col of columns">{{ col.label }}</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody formArrayName="rows">
        <tr *ngFor="let row of rows.controls; let i = index" [formGroupName]="i">
          <td *ngFor="let col of columns">
            <ng-container *ngIf="col.type !== 'dropdown'">
              <input [formControlName]="col.key" [type]="col.type" />
            </ng-container>
            <ng-container *ngIf="col.type === 'dropdown'">
              <select [formControlName]="col.key">
                <option *ngFor="let option of dropdownOptions" [value]="option">
                  {{ option }}
                </option>
              </select>
            </ng-container>
          </td>
          <td>
            <button type="button" (click)="removeRow(i)">Remove</button>
          </td>
        </tr>
      </tbody>
    </table>

    <button type="submit" [disabled]="form.invalid">Submit</button>
  </form>

  <h2>Fetched Rows:</h2>
  <table *ngIf="rowsData.length > 0">
    <thead>
      <tr>
        <th *ngFor="let col of columns">{{ col.label }}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of rowsData">
        <td>{{ row.name }}</td>
        <td>{{ row.age }}</td>
        <td>{{ row.email }}</td>
        <td>{{ row.category }}</td>
        <td>{{ row.dropdown }}</td> 
      </tr>
    </tbody>
  </table>

  <pre>{{ form.value | json }}</pre>
</div>




<div class="mt-3" >
  <button mat-raised-button  (click)="loadData()" >Load Data</button>
</div> -->







<div>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">



         <div class="row mb-3">

           
           <div class="col-md-6 mb-2"  *ngFor="let field of formConfig">
               <label [for]="field.identifier" class="form-label fs13">{{ field.name }}</label>

                   <input
                   *ngIf="field.type === 'text'"
                   type="text"
                   [formControlName]="field.identifier"
                   [id]="field.identifier"
                   class="form-control custom-height"
                   [placeholder]="field.description"
                   aria-label="file example"
                   [ngClass]="{
                     'is-invalid': form.get(field.identifier)?.touched &&
                     form.get(field.identifier)?.invalid
                   }"
                 />
             

                 <div>
                   <select
                     *ngIf="field.type === 'dropdown'"
                     [formControlName]="field.identifier"
                     [id]="field.identifier"
                     class="form-select"
                     [ngClass]="{
                       'is-invalid': form.get(field.identifier)?.touched &&
                       form.get(field.identifier)?.invalid
                     }"
                   >
                   <option selected disabled value="">select...</option>
                     <option *ngFor="let option of field.values" [value]="option">{{ option }}</option>
                   </select>
                 </div>
               
                 

                <div *ngIf="field.type === 'multi-select'" class="form-check">
                 <div 
                   class="overflow-auto border rounded p-2 d-flex flex-column" 
                   style="height: 100px; width: 310px;">
                   <div 
                     *ngFor="let option of field.values" 
                     class="form-check">
                     <input
                       type="checkbox"
                       class="form-check-input"
                       [id]="field.identifier + '_' + option"
                       [value]="option"
                       [checked]="form.get(field.identifier)?.value?.includes(option)"
                       (change)="onCheckboxChangeFormConfig($event, field)"
                       
                     />
                     <label 
                       class="form-check-label" 
                       [for]="field.identifier + '_' + option">
                       {{ option }}
                     </label>
                   </div>
                 </div>
               </div>



               <div *ngIf="form.get(field.identifier)?.touched && form.get(field.identifier)?.invalid"
                 class="text-danger fs12">
                 <small *ngIf="form.get(field.identifier)?.errors?.['required']">
                   {{ field.name }} is required.
                 </small>
                 <small *ngIf="form.get(field.identifier)?.errors?.['min']">
                   Minimum value is {{ field.min }}.
                 </small>
                 <small *ngIf="form.get(field.identifier)?.errors?.['max']">
                   Maximum value is {{ field.max }}.
                 </small>
               </div>
           </div>


           </div>











    <!-- Checkbox Filters -->
    <div>
      <label *ngFor="let option of checkboxOptions">
        <input
          type="checkbox"
          [value]="option"
          (change)="onCheckboxChange($event)"
        />
        {{ option }}
      </label>
    </div>

    <!-- Dynamic Rows Table -->
    <table>
      <thead>
        <tr>
          <th *ngFor="let col of columns">{{ col.name }}</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody formArrayName="rows">
        <tr *ngFor="let row of rows.controls; let i = index" [formGroupName]="i">
          <td *ngFor="let col of columns">

            <ng-container *ngIf="col.type === 'text'">
              <input 
              [formControlName]="col.identifier" 
              [type]="col.type"
              [disabled]="!form.valid"/>
            </ng-container>

            <ng-container *ngIf="col.type === 'dropdown'">
              <select [formControlName]="col.identifier">
                <option 
                *ngFor="let option of col.values" [value]="option">
                  {{ option }}
                </option>
              </select>
            </ng-container>

          </td>
          <td>
            <button type="button" (click)="removeRow(i)">Remove</button>
          </td>
        </tr>
      </tbody>
    </table>

    <button type="submit" [disabled]="form.invalid">Submit</button>
  </form>

  <h2>Fetched Rows:</h2>
  <table *ngIf="rowsData.length > 0">
    <thead>
      <tr>
        <th *ngFor="let col of columns">{{ col.label }}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of rowsData">
        <td>{{ row.name }}</td>
        <td>{{ row.age }}</td>
        <td>{{ row.email }}</td>
        <td>{{ row.category }}</td>
        <td>{{ row.dropdown }}</td> <!-- Display selected dropdown value -->
      </tr>
    </tbody>
  </table>

  <pre>{{ form.value | json }}</pre>
</div>




<div class="mt-3" >
  <button mat-raised-button  (click)="loadData()" >Load Data</button>
</div>