
<div class="container p-2 bg-white row mt-2"  style="border-radius: 15px;" >
  <div class="col-md-8">


    <!-- Upload File Starting  -->

          <div class="bg-light mt-4 p-4" style="border-radius: 10px;">
          
            <div class="responsive-section mb-3">
              <h2 class="section-title">Upload Files</h2>
            </div>
          
            <div class="upload-row">
              <div class="upload-container" *ngFor="let file of files; let i = index"
                [ngClass]="{'error': i === 0 && showError && !file.file}">
                <div class="upload-box" (click)="!file.previewUrl && fileInputRefs.toArray()[i].nativeElement.click()">
                  <img *ngIf="file.previewUrl" [src]="file.previewUrl" alt="Preview" />
                  <div *ngIf="!file.previewUrl" class="upload-placeholder">
                    <span>+</span>
                    <p>Upload</p>
                  </div>
                </div>
          
                <input #fileInput type="file" hidden (change)="onFileSelected($event, i)" accept="image/*" />
          
                <div *ngIf="file.uploadProgress !== null" class="progress-bar-container">
                  <div class="progress-bar" [style.width]="file.uploadProgress + '%'"></div>
                </div>
          
                <button *ngIf="file.previewUrl" class="remove-btn" (click)="removeFile(i)">
                  Remove
                </button>
              </div>
            </div>
          
            <!-- Error message -->
            <div *ngIf="showError && !files[0].file" class="error-message">
              Please upload the first image!
            </div>
          
            <!-- Upload all button -->
            <button mat-raised-button (click)="uploadProductFiles(10)">Upload All</button>
          
            <button mat-raised-button (click)="getAllImages()">getAllImages</button>
          
          </div>
    
    <!-- Upload File Ending  -->
    
    
    















  
                      <form class="form-row mt-4" [formGroup]="form" (ngSubmit)="onSubmit()" >
                        
                        
                        <div class="responsive-section">
                          <h2 class="section-title">Product Size</h2>
                          <hr class="divider">
                        </div>
                                            
                        <div style="border: 2px solid rgb(228, 227, 227); width: 700px; height: 100px;border-radius: 8px;"
                        *ngFor="let sizesData of sizeFieldBuilder"
                        class="btn-group mx-3 d-flex flex-wrap p-2"
                        role="group" 
                        aria-label="Basic checkbox toggle button group">
                        
                        <div *ngFor="let option of sizesData.values" class="d-inline-flex align-items-center me-2">
                          <input  
                            type="checkbox"
                            class="btn-check" 
                            [id]="sizesData.identifier + '_' + option"
                            [value]="option"
                            [checked]="form.get(sizesData.identifier)?.value?.includes(option)"
                            (change)="onCheckboxChange($event, sizesData)"
                            autocomplete="off">
                          
                          <label 
                            class="btn btn-outline-primary mb-2"
                            [for]="sizesData.identifier + '_' + option"
                            style="width: auto; min-width: 100px; text-align: center;">
                            {{ option }}
                          </label>
                        </div>
                      </div>
  


                    <!-- Size Starting  -->
                    <!-- <div   *ngFor="let sizesData of sizeFieldBuilder" class="form-check">
                      <label [for]="sizesData.identifier" class="form-label fs13">{{ sizesData.name }}</label>
                      <div 
                        class="overflow-auto border rounded p-2 d-flex flex-column" 
                        style="height: 100px; width: 710px;">
                        <div 
                          *ngFor="let option of sizesData.values" 
                          class="form-check">
                          <input
                            type="checkbox"
                            class="form-check-input mx-3"
                            [id]="sizesData.identifier + '_' + option"
                            [value]="option"
                            [checked]="form.get(sizesData.identifier)?.value?.includes(option)"
                            (change)="onCheckboxChange($event, sizesData)"
                          />
                          <label 
                            class="form-check-label" 
                            [for]="sizesData.identifier + '_' + option">
                            {{ option }}
                          </label>
                        </div>
                      </div>
                    </div> -->
                    <!-- Size Ending  -->




                
                <!-- Tablle Rows Starting -->
                
                <div class="mt-3" style=" overflow-x: auto;  white-space: nowrap;">
                  <table class="table table-hover table-bordered" *ngIf="productRows.length > 0">
                    
                    <thead style="background-color: aliceblue;">
                      <tr class="fs12 text-center" style="color: #616a6b;" >
                        <th *ngFor="let col of tableFieldBuilder">{{ col.name }}</th>
                        <th>Actions</th>
                      </tr>
                    </thead>
                    <tbody formArrayName="productRows">
                      <tr *ngFor="let row of productRows.controls; let i = index" [formGroupName]="i">
                        <td *ngFor="let col of tableFieldBuilder">

                          <div>
                              <div  *ngIf="col.type === 'text'">
                                  <input style="width: 150px;"
                                    [formControlName]="col.identifier"
                                    [id]="col.identifier"
                                    class="form-control custom-height"
                                    [placeholder]="col.description"
                                    aria-label="file example"
                                    [ngClass]="{
                                      'is-invalid': row.get(col.identifier)?.touched &&
                                      row.get(col.identifier)?.invalid || 
                                      row.get(col.identifier)?.value < row.get('price')?.value
                                    }"
                                  />

                                  <!-- Specific MRP validation -->
                                  <div *ngIf="col.identifier === 'mrp'" >
                                    <span class="text-danger fs12"
                                      *ngIf="row.get(col.identifier)?.value < row.get('price')?.value" >
                                      MRP cannot be less than price
                                    </span>
                                  </div>

                              </div>
                            </div>
                          
                          <div>
                            <select style="width: 150px;"
                              *ngIf="col.type === 'dropdown'"
                              [formControlName]="col.identifier"
                              [id]="col.identifier"
                              class="form-select"
                              [ngClass]="{
                                'is-invalid': row.get(col.identifier)?.touched &&
                                row.get(col.identifier)?.invalid
                              }"
                            >
                            <option disabled value="">Select...</option>
                              <option *ngFor="let option of col.values" [value]="option">{{ option }}</option>
                            </select>
                          </div>
                    

                          
                          <div 
                              *ngIf="row.get(col.identifier)?.touched && row.get(col.identifier)?.invalid" 
                              class="text-danger fs12">
                              <small *ngIf="row.get(col.identifier)?.errors?.['required']">
                                  {{ col.name }} is required.
                                </small>
                                <small *ngIf="row.get(col.identifier)?.errors?.['min']">
                                  Minimum value is {{ col.min }}.
                                </small>
                                <small *ngIf="row.get(col.identifier)?.errors?.['max']">
                                  Maximum value is {{ col.max }}.
                                </small>
                            </div>

                        </td>
                        <td>
                          <button mat-raised-button color="warn"  type="button" (click)="removeRow(i)">Remove</button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <!-- Tablle Rows Ending -->






              <!-- Product Identity Starting -->
                <div class="row">
                  <div class="responsive-section mt-3">
                    <h2 class="section-title">Product Identity</h2>
                    <hr class="divider">
                  </div>
                  <div class="col-md-6 mb-2"  *ngFor="let field of productFieldsBuilder">

                      <label [for]="field.identifier" class="form-label fs13">{{ field.name }}</label>
                          <input
                          *ngIf="field.type === 'text'"
                          type="text"
                          [formControlName]="field.identifier"
                          [id]="field.identifier"
                          class="form-control custom-height"
                          [placeholder]="field.description"
                          [minlength]="field.min"
                          aria-label="file example"
                          [ngClass]="{
                            'is-invalid': form.get(field.identifier)?.touched &&
                            form.get(field.identifier)?.invalid
                          }"
                        />
                    

                        <div>
                          <select
                            *ngIf="field.type === 'dropdown'"
                            [formControlName]="field.identifier"
                            [id]="field.identifier"
                            class="form-select"
                            [ngClass]="{
                              'is-invalid': form.get(field.identifier)?.touched &&
                              form.get(field.identifier)?.invalid
                            }"
                          >
                          <option selected disabled value="">select...</option>
                            <option *ngFor="let option of field.values" [value]="option">{{ option }}</option>
                          </select>
                        </div>

                            <div *ngIf="form.get(field.identifier)?.touched && form.get(field.identifier)?.invalid" class="text-danger fs12">
                              <small *ngIf="form.get(field.identifier)?.errors?.['required']">
                                {{ field.name }} is required.
                              </small>
                              <small *ngIf="form.get(field.identifier)?.errors?.['min']">
                                Minimum value is {{ field.min }}.
                              </small>
                              <small *ngIf="form.get(field.identifier)?.errors?.['max']">
                                Maximum value is {{ field.max }}.
                              </small>
                            </div>
                      </div>
                  </div>
             <!-- Product Data Starting -->

             
            <!-- Product Details Starting -->
            <div class="row">
              <div class="responsive-section mt-3">
                <h2 class="section-title">Product Details</h2>
                <hr class="divider">
              </div>
              <div class="col-md-6 mb-2"  *ngFor="let field of productDetailsBuilder">

                  <label [for]="field.identifier" class="form-label fs13">{{ field.name }}</label>
                      <input
                      *ngIf="field.type === 'text'"
                      type="text"
                      [formControlName]="field.identifier"
                      [id]="field.identifier"
                      class="form-control custom-height"
                      [placeholder]="field.description"
                      [minlength]="field.min"
                      aria-label="file example"
                      [ngClass]="{
                        'is-invalid': form.get(field.identifier)?.touched &&
                        form.get(field.identifier)?.invalid
                      }"
                    />
                

                    <div>
                      <select
                        *ngIf="field.type === 'dropdown'"
                        [formControlName]="field.identifier"
                        [id]="field.identifier"
                        class="form-select"
                        [ngClass]="{
                          'is-invalid': form.get(field.identifier)?.touched &&
                          form.get(field.identifier)?.invalid
                        }"
                      >
                      <option selected disabled value="">select...</option>
                        <option *ngFor="let option of field.values" [value]="option">{{ option }}</option>
                      </select>
                    </div>

                        <div *ngIf="form.get(field.identifier)?.touched && form.get(field.identifier)?.invalid" class="text-danger fs12">
                          <small *ngIf="form.get(field.identifier)?.errors?.['required']">
                            {{ field.name }} is required.
                          </small>
                          <small *ngIf="form.get(field.identifier)?.errors?.['min']">
                            Minimum value is {{ field.min }}.
                          </small>
                          <small *ngIf="form.get(field.identifier)?.errors?.['max']">
                            Maximum value is {{ field.max }}.
                          </small>
                        </div>
                  </div>
              </div>
          <!-- Product Details Ending -->


               <!-- Product Desc And Other Details Starting -->
               <div class="row">
                <div class="responsive-section mt-3">
                  <h2 class="section-title">Product Desc and other Details</h2>
                  <hr class="divider">
                </div>
                <div class="col-md-6 mb-2"  *ngFor="let field of productDescAndOtherBuilder">
  
                    <label [for]="field.identifier" class="form-label fs13">{{ field.name }}</label>
                        <input
                        *ngIf="field.type === 'text'"
                        type="text"
                        [formControlName]="field.identifier"
                        [id]="field.identifier"
                        class="form-control custom-height"
                        [placeholder]="field.description"
                        [minlength]="field.min"
                        aria-label="file example"
                        [ngClass]="{
                          'is-invalid': form.get(field.identifier)?.touched &&
                          form.get(field.identifier)?.invalid
                        }"
                      />

                      <textarea
                        *ngIf="field.type === 'textbox'"
                        type="text"
                        id="exampleFormControlTextarea1"
                        rows="4"
                        [formControlName]="field.identifier"
                        [id]="field.identifier"
                        class="form-control"
                        [placeholder]="field.description"
                        [minlength]="field.min"
                        aria-label="file example"
                        [ngClass]="{
                          'is-invalid': form.get(field.identifier)?.touched &&
                          form.get(field.identifier)?.invalid
                        }"
                      > </textarea>
                  
  
                      <div>
                        <select
                          *ngIf="field.type === 'dropdown'"
                          [formControlName]="field.identifier"
                          [id]="field.identifier"
                          class="form-select"
                          [ngClass]="{
                            'is-invalid': form.get(field.identifier)?.touched &&
                            form.get(field.identifier)?.invalid
                          }"
                        >
                        <option selected disabled value="">select...</option>
                          <option *ngFor="let option of field.values" [value]="option">{{ option }}</option>
                        </select>
                      </div>
  
                          <div *ngIf="form.get(field.identifier)?.touched && form.get(field.identifier)?.invalid" class="text-danger fs12">
                            <small *ngIf="form.get(field.identifier)?.errors?.['required']">
                              {{ field.name }} is required.
                            </small>
                            <small *ngIf="form.get(field.identifier)?.errors?.['min']">
                              Minimum value is {{ field.min }}.
                            </small>
                            <small *ngIf="form.get(field.identifier)?.errors?.['max']">
                              Maximum value is {{ field.max }}.
                            </small>
                          </div>
                    </div>
                </div>
            <!-- Product Details Ending -->


            <div>
              <button style="width: 300px;text-align:left" type="submit" mat-raised-button color="primary" >Submit</button>
            </div>
             
              </form>
              <pre>{{ form.value | json }}</pre>
            </div>


            <div class="col-md-4">
              <div class="mt-3" >
                <button mat-raised-button  (click)="loadData()" >Load Data</button>
              </div>

                          <!-- Button to open the modal -->
<button type="button" mat-raised-button color="primary" (click)="openModal()">Open Modal</button>



            </div>


        </div>





        

<!--  -------------------------------==================--------------------------------------------------- -- -->
<!-- -------------------------------==================--------------------------------------------------- -->



       










<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl modal-dialog-scrollable modal-dialog-centered">
    <div class="modal-content">
      <!-- <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal Title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="closeModal()"></button>
      </div> -->
      <div class="modal-body">
        


        <div class="container">
          
          <div class="responsive-section mt-3">
            <h2 class="section-title">AA Product Variant</h2>
            <hr class="divider">
          </div>
        
          <div class="row mb-3">

            <div class="col-md-3">
              <label for="color" class="fs12" >Color</label>
              <select [(ngModel)]="selectedColor" name="color" class="form-control fs12" required>
                <option   value="" disabled selected>Select Color</option>
                <option *ngFor="let color of colors" [value]="color">{{ color }}</option>
              </select>
              <div *ngIf="formSubmitted && !selectedColor" class="text-danger fs12">Color is required.</div>
            </div>

            <div class="col-md-3">
              <label for="size" class="fs12">Size</label>
              <select [(ngModel)]="selectedSize" name="size" class="form-control fs12" required>
                <option value="" disabled selected>Select Size</option>
                <option *ngFor="let size of sizes" [value]="size">{{ size }}</option>
              </select>
              <div *ngIf="formSubmitted && !selectedSize" class="text-danger fs12">Size is required.</div>
            </div>

            <div class="col-md-4">
              <button class="mt-4" mat-raised-button color="primary" 
                (click)="addRow()" [disabled]="!selectedColor || !selectedSize">
                Add Row
              </button>
            </div>
          </div>

          <h6>
            <span  *ngIf="alertMessage" class=" badge  alert alert-warning mt-3">
              {{ alertMessage }}
            </span>
          </h6>

        
          <form #variantForm="ngForm" (ngSubmit)="onSubmit1(variantForm)">
          
          
            <div style=" overflow-x: auto;  white-space: nowrap;">
              <table  class="table table-bordered table-hover">
                <thead style="background-color: aliceblue;">
                  <tr class="fs12 text-center" style="color: #616a6b;">
                    <th>Color</th>
                    <th>Size</th>
                    <th *ngFor="let field of productVariantBuilder">{{ field.name }}</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let row of rows; let i = index">
                    <td>{{ row.color }}</td>
                    <td>{{ row.size }}</td>
          
                    <!-- Loop through extra fields -->
                    <td *ngFor="let field of tableFieldBuilder">


                      <div *ngIf="field.type === 'text'">
                        <input style="width: 150px;"
                          [(ngModel)]="row.productVariantList[field.identifier]" 
                          name="{{ field.identifier }}{{ i }}" 
                          class="form-control" 
                          [placeholder]="field.description" 
                          [required]="field.required" />
                        <div *ngIf="formSubmitted && !row.productVariantList[field.identifier]" class="text-danger fs12">
                          {{ field.name }} is required.
                        </div>
                          <!-- Specific MRP validation -->
                          <div *ngIf="field.identifier === 'mrp' && row.productVariantList['price'] && row.productVariantList[field.identifier] < row.productVariantList['price']" 
                            class="text-danger fs12">
                            MRP cannot be less than (Price: {{ row.productVariantList['price'] }}).
                          </div>
                      </div>
                      
                      <div *ngIf="field.type === 'dropdown'">
                        
                        <select style="width: 150px;"
                          [(ngModel)]="row.productVariantList[field.identifier]" 
                          name="{{ field.identifier }}{{ i }}" 
                          class="form-control" 
                          [required]="field.required">
                          <option value="" disabled>Select Color</option>
                          <option *ngFor="let value of field.values" [value]="value">{{ value }}</option>
                        </select>
                        <div *ngIf="formSubmitted && !row.productVariantList[field.identifier]" class="text-danger">
                          {{ field.name }} is required.
                        </div>
                      </div>

                    </td>
          
                    <td>
                      <button type="button" mat-raised-button color="warn" (click)="removeRow1(i)">Remove</button>
                    </td>

                  </tr>
                </tbody>
              </table>
            </div>

            <div class="mt-3">
              <button type="submit" mat-raised-button color="primary" [disabled]="variantForm.invalid">
                save changes
              </button>
            </div>

          </form>
        </div>

      </div>
      <div class="modal-footer">
        <button  mat-raised-button color="primary"  data-bs-dismiss="modal" (click)="closeModal()">Close</button>
      </div>
    </div>
  </div>
</div>

 <!-- <button mat-raised-button (click)="openModal()" >openModal</button>
        <div class="modal" *ngIf="isModalOpen">
          <div class="modal-content">
            <div class="text-center">
              <i style="color: blue;" class="bi bi-rocket-takeoff"></i>
            </div>
            <div class="modal-message text-center mb-2 mt-2">Are, you sure you want to submit this Catalog</div>
            <div class="d-flex justify-content-center">
              <button mat-raised-button (click)="closeModal()" class="mx-2">Cancel</button>
              <button mat-raised-button (click)="confirmAction()" color="primary" class="mx-2">Submit</button>
            </div>
        
          </div>
        </div> -->









        