

.custom-height {
  height: 36px; /* Adjust the height as needed */
}

/* Responsive Section */
.responsive-section {
  padding: 1px;
  width: 100%;
}

.section-title {
  margin: 0;
  font-size: 15px;
  color: #333;
  font-weight: 500;
}

/* Divider Line */
.divider {
  margin-top: 5px;
  border: none;
  border-top: 2px solid #d1cccc; /* Light gray color */
}

/* Responsive Design */
@media (max-width: 768px) {
  .section-title {
    font-size: 16px;
  }

  .responsive-section {
    padding: 15px;
  }
}