
<div class="container bg-white mt-3 p-3" style="border-radius:10px ;">

    <div>
        <h5 class="headingStyle" >
             Product Data
        </h5>
    </div>


    <div class="row mt-3">
        <!-- Left Column -->
        <div class="col-md-8 border-end">
            <div class="container mt-3">
                <h5>Overview</h5>
                <div class="row text-center mt-2">
                    <!-- Total Uploads Done -->
                    <div class="col-md-3">
                        <div class="card">
                            <div class="card-body">
                                <p class="card-title fs12">Total Product</p>
                                <p class="card-text">{{totalElements}}</p>
                            </div>
                        </div>
                    </div>
    
                    <!-- Using Bulk Uploads -->
                    <div class="col-md-3">
                        <div class="card">
                            <div class="card-body">
                                <p class="card-title fs12">Total Bulk Product</p>
                                <p class="card-text">0</p>
                            </div>
                        </div>
                    </div>
    
                    <!-- Using Single Uploads -->
                    <div class="col-md-3">
                        <div class="card">
                            <div class="card-body">
                                <p class="card-title fs12">Total Single Product</p>
                                <p class="card-text">{{totalElements}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <!-- Right Column -->
        <div class="col-md-4 d-flex flex-column justify-content-center align-items-center" style="height: 20vh;">
            <div class="container">
                <div class="card" style="border: none;">
                    <div class="card-body">
                        <a mat-raised-button color="primary" class="w-100 mb-4" data-bs-toggle="modal" data-bs-target="#termsModal">
                            Single Catalog
                        </a>
                    </div>
                </div>
            </div>
        </div>

        
        <div class="container mt-4">
          <div class="row g-3">
        
            <!-- Product Pass-->
            <div class="col-md-3">
              <a href="/seller/dashboard/home/catalog-Pass" 
                 routerLink="/seller/dashboard/home/catalog-Pass"
               class="dashboard-card product-pass">
                <div class="icon">
                  <i class="bi bi-check-circle text-success"></i>
                </div>
                <div>
                  <span>Product Pass</span>
                  <h3>{{ qcPassCount }}</h3>
                </div>
              </a>
            </div>
        
            <!-- Product in Progress -->
            <div class="col-md-3">
              <a href="/seller/dashboard/home/catalog-in-progress" 
                 routerLink="/seller/dashboard/home/catalog-in-progress" class="dashboard-card product-progress">
                <div class="icon">
                  <i class="bi bi-clock-history"></i>
                </div>
                <div>
                  <span>Product in Progress</span>
                  <h3>{{ progressCount }}</h3>
                </div>
              </a>
            </div>
        
            <!-- Product Error -->
            <div class="col-md-3">
              <a href="/seller/dashboard/home/catalog-Error" routerLink="/seller/dashboard/home/catalog-Error"
                  class="dashboard-card product-error">
                <div class="icon">
                  <i class="bi bi-exclamation-circle"></i>
                </div>
                <div>
                  <span>Product Error</span>
                  <h3>{{ errorCount }}</h3>
                </div>
              </a>
            </div>
        
            <!-- Draft -->
            <div class="col-md-3">
              <a href="/seller/dashboard/home/catalog-Draft"
                routerLink="/seller/dashboard/home/catalog-Draft"
                class="dashboard-card product-draft">
                <div class="icon">
                  <i class="bi bi-save"></i>
                </div>
                <div>
                  <span>Draft</span>
                  <h3>{{ draftCount }}</h3>
                </div>
              </a>
            </div>
        
          </div>
        </div>
        



        
    </div>
    
    




<!-- Catalog Area Starting  -->
    <div class="modal fade" id="termsModal" tabindex="-1" aria-labelledby="termsModalLabel" aria-hidden="true" style="background-color: transparent;">
        <div class="modal-dialog custom-modal-width custom-modal-position modal-dialog-scrollable">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="termsModalLabel">Product Category</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" style="font-size: 13px;">
    
    
                <div class="container-fluid">
                    <div class="row">
    
                      <div>
                        <h5 class="selectCategory" >
                             Please Select Category
                        </h5>
                      </div>
                
                              
                       <div class="col-lg-2 col-md-2 col-sm-12 subcategory-menu">
                            <table class="table table-hover">
                              <tbody>
                                <tr *ngFor="let parentNode of parentList" [class.active]="selectedParentcategory === parentNode.categoryName"
                                  (click)="selectParentcategory(parentNode.categoryName); sendParentId(parentNode.id)">
                                  <td>
                                    {{ parentNode.categoryName }}
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                        </div>
                            
    
    
                              <div class="col-lg-2 col-md-2 col-sm-12 subcategory-menu">
                                <table class="table table-hover">
                                    <tbody>
                                    <tr  *ngFor="let childNode of childList"
                                    [class.active]="selectChildCategory === childNode.categoryName"
                                    (click)="selectChildcategory(childNode.categoryName); sendChildId(childNode.id)">
                                        <td>
                                            {{ childNode.categoryName }}
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                              </div>
                           
    
                            <div  *ngIf="babyFlag" class="col-lg-2 col-md-2 col-sm-12 subcategory-menu">
                              <table class="table table-hover">
                                  <tbody>
                                  <tr  *ngFor="let babyNode of babyList"
                                  [class.active]="selectBabyCategory === babyNode.categoryName"
                                  (click)="selectBabycategory(babyNode.categoryName);  sendBabyId(babyNode.id)">
                                      <td>
                                          {{ babyNode.categoryName }}
                                      </td>
                                  </tr>
                                  </tbody>
                              </table>
                            </div>
                           
    
                            <div *ngIf="bornFlag"  class="col-lg-2 col-md-2 col-sm-12 subcategory-menu">
                                <table class="table table-hover">
                                    <tbody>
                                    <tr  *ngFor="let bornNode of bornList"
                                    [class.active]="selctBornCategory === bornNode.categoryName"
                                    (click)="selectBornCategory(bornNode.categoryName); getBornCategoryById(bornNode.id , bornNode.categoryName)">
                                        <td>
                                            {{ bornNode.categoryName }}
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                             </div>
                          
    
                          <div *ngIf="fileFlag" class="col-lg-1 offset-lg-1 col-md-2 offset-md-1 col-sm-12 bornLastImage">
                            <div *ngIf="bornData" >
    
    
                              <div class="card border-0 " style="width: 18rem;">
                                <div class="card-body">
                                  <div class="card-header text-center fs10">
                                    {{categoryBreadCrumb}}
                                  </div>
    
                                  <div class="text-center mt-3">
                                    <img [src]="bornData.categoryFile"  class="img-fluid" alt="Shorts" 
                                     style="height: 150px; max-width: 8rem" alt="Descriptive Alt Text">
                                  </div>
                                </div>
                              </div>
                             </div>


                             <div class="d-flex justify-content-center mt-3">
                              <button 
                                (click)="continueCatalogProcess()" 
                                [disabled]="isButtonDisabled" 
                                class="continueBtn"
                                mat-raised-button 
                                color="primary">
                                Continue
                              </button>
                            </div>

                              

                          </div>

                    </div>
    
              </div>
    
            </div>
            <div class="modal-footer custom-modal-footer">
              <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
<!-- Catalog Area Ending -->
    
      
      
    
    <!-- Model Starting -->
    <div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-body">
            <div class="success-animation">
              <div class="checkmark-circle">
                <div class="checkmark"></div>
              </div>
            </div>
            <div class="modal-body text-center">
              <p>Catalog Upload Successfully</p>
            </div>
            <div class="d-flex justify-content-center p-1">
              <button mat-raised-button (click)="closeModal()">close</button>
            </div>
          </div>
        </div>
      </div>
    </div>
     <!-- Modal Ending  -->
    


     <div style="display: block;" >
      <canvas width="400" height="150" 
        baseChart
        [datasets]="chartData"
        [labels]="chartLabels"
        [type]="'line'"
        [options]="chartOptions">
      </canvas>
    </div>
    
    
  </div>















