/* TIME LIVE START */
.headingStyle {
    font-size:14px;
    font-weight: bold;
    text-align: center;
    background: #f0f0f0;
    padding: 10px;
    border-radius: 8px;
    color: #4361ee;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 160px;
  }

  .selectCategory
  {
    font-size:14px;
    font-weight: bold;
    text-align: center;
    background: #f0f0f0;
    padding: 10px;
    border-radius: 8px;
    color: #4361ee;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 200px;
  }
  

/* Custom modal dialog width */
.custom-modal-width {
    max-width: 1400px;  /* Set maximum width */
    width: 100%;       /* Ensure modal is responsive */
  }
  
  /* Custom modal positioning */
  .custom-modal-position {
    margin-top: 20px;  /* Set margin-top to 20px */
    margin-bottom: 20px; /* Optional: Set margin-bottom if needed */
  }
  
  
  /* Responsive adjustments for small screens */
  @media (max-width: 768px) {
    .custom-modal-width {
      max-width: 100%;  /* Full width on mobile screens */
    }
    .custom-modal-position {
      margin-top: 10px;  /* Smaller margin-top for mobile */
      margin-bottom: 10px; /* Smaller margin-bottom for mobile */
    }
  }
  
  /* ============== */


  /* Custom Styles */
.category-menu, .subcategory-menu {
  background-color: white; /* Set background color to white */
  padding: 15px;
  max-height: 400px; /* Adjust this value for max height */
  overflow-y: auto; /* Enable vertical scroll */
  border-radius: 5px; /* Rounded corners for better aesthetics */
}

.table-hover tbody tr:hover {
  background-color: #4361ee; /* Change background color of active row */
  color: white; /* Change text color to white for active row */
  cursor: pointer; /* Set cursor to pointer */
}

tbody tr.active {
  background-color: #4361ee; /* Change background color of active row */
  color: white; /* Change text color to white for active row */
  cursor: pointer; /* Set cursor to pointer */
}
 

/* Responsive Styles */
@media (max-width: 768px) {
  .category-menu, .subcategory-menu {
    max-height: 200px; /* Reduce max height on smaller screens */
    margin-bottom: 15px; /* Add a small gap between columns on smaller screens */
  }
}

.bornLastImage {
  max-height: 300px;
  width: 300px;
  object-fit: cover; /* Optional: maintain aspect ratio */
}





/* Model Properties */
.modal-header {
  padding-top: 0.5rem; /* Reduce padding */
  padding-bottom: 0.5rem;
}

.modal-content {
  border-radius: 8px; /* Optional: Round the modal corners */
}


/* Center the animation */
.success-animation {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px;
}

/* Circle background */
.checkmark-circle {
  width: 60px;
  height: 60px;
  background-color: #51f744;
  border-radius: 50%;
  position: relative;
  animation: scaleIn 0.4s ease-out forwards;
}

/* Checkmark styling */
.checkmark {
  position: absolute;
  top: 12%;
  left: 27%;
  width: 10px;
  height: 15px;
  border: solid white;
  border-width: 0 10px 10px 0;
  transform: rotate(45deg);
  opacity: 0;
  animation: checkmarkDraw 0.4s ease-out 0.4s forwards;
}


/* Mat Tab Height Starting*/
.custom-tab-height {
  height: 500px; /* Adjust as needed */
}

/* Mat Tab Height Ending*/


/* Circle background effect */
@keyframes scaleIn {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}


/* Custom CSS for table headers */
.custom-table th {
  font-size: 12px;       /* Change font size */
  color: #333;           /* Text color */
  background-color: #f8f9fa;     /* Center align text */
  border: 1px solid #dee2e6; /* Border color */
}

.custom-table td {
  font-size: 12px;
}

.imageResponsive{
  height: 50px;
  width: 50px;
  object-fit: cover;
}

/* Checkmark drawing effect */
@keyframes checkmarkDraw {
  0% {
    height: 0;
    width: 0;
    opacity: 1;
  }
  100% {
    height: 35px;
    width: 25px;
    opacity: 1;
  }
}

/* ============================================================================================================
=============================================================================================================== */

.dashboard-card {
  display: flex;
  align-items: center;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
}

.dashboard-card .icon {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-radius: 50%;
  margin-right: 15px;
}

.dashboard-card .icon i {
  font-size: 20px;
  color: #666;
}

.dashboard-card span {
  font-size: 14px;
  color: #777;
}

.dashboard-card h3 {
  margin: 0;
  font-size: 22px;
  font-weight: bold;
  color: #333;
}

.product-pass {
  background-color: #d7ffb9;
}

.product-progress{
  background-color: #e8f8f5;
}

.product-error {
  background-color: #ffeceb;
}

.product-draft{
  background-color: #f0f9ed;
}

a {
  text-decoration: none;
}