

<div class="container mt-5">

  <p class="text-center" >Not Working this Module</p>

</div>









<!-- TEXT EDITOR (2 HAIN ) STARTING -->
 <!-- FIRST STARTING -->
<!-- <div class="NgxEditor__Wrapper">
  <ngx-editor-menu [editor]="editor" [toolbar]="[
      ['bold', 'italic', 'underline'], 
      ['code', 'blockquote'], 
      ['ordered_list', 'bullet_list'], 
      [{ heading: ['h1', 'h2', 'h3', 'h4', 'h5', 'h6'] }],
      ['align_left', 'align_center', 'align_right', 'align_justify'],
      ['text_color', 'background_color'],
      ['link', 'image']
    ]">
  </ngx-editor-menu>
  <ngx-editor [editor]="editor" [ngModel]="html" [formControl]="htmlControl" [disabled]="false"
    [placeholder]="'Type here...'"></ngx-editor>
</div> -->
 <!-- FIRST ENDING -->



<!-- <button (click)="getEditorContent()">Get Editor Content</button> -->

<!-- ============================ -->

<!-- SECOND STARTING -->
<!-- <div class="container">
  <angular-editor [(ngModel)]="htmlContent" [config]="config"></angular-editor>
</div> -->
<!-- SECOND ENDING -->


<!-- TEXT EDITOR (2 HAIN ) ENDING -->
