
<div class="container bg-white mt-3 p-3" style="border-radius:10px ;">

    <div>
        <h5 class="headingStyle" >
             All Catalogs
             <span>({{catalogsCount}})</span>
        </h5>
    </div>

    <div class="container mt-4">
      <div class="row g-3">
      
        <!-- Product Pass-->
        <div class="col-md-3">
          <a href="/seller/dashboard/home/catalog-Pass" routerLink="/seller/dashboard/home/catalog-Pass" class="dashboard-card product-pass">
            <div class="icon">
              <i class="bi bi-check-circle text-success"></i>
            </div>
            <div class="info">
              <span>Product Pass</span>
              <span class="spanRight">{{ qcPassCount }}</span>
            </div>
          </a>
        </div>
      
        <!-- Product in Progress -->
        <div class="col-md-3">
          <a href="/seller/dashboard/home/catalog-in-progress" routerLink="/seller/dashboard/home/catalog-in-progress" class="dashboard-card product-progress">
            <div class="icon">
              <i class="bi bi-clock-history"></i>
            </div>
            <div class="info">
              <span>Product in Progress</span>
              <span class="spanRight">{{ progressCount }}</span>
            </div>
          </a>
        </div>
      
        <!-- Product Error -->
        <div class="col-md-3">
          <a href="/seller/dashboard/home/catalog-Error" routerLink="/seller/dashboard/home/catalog-Error" class="dashboard-card product-error">
            <div class="icon">
              <i class="bi bi-exclamation-circle"></i>
            </div>
            <div class="info">
              <span>Product Error</span>
              <span class="spanRight">{{ errorCount }}</span>
            </div>
          </a>
        </div>
      
        <!-- Draft -->
        <div class="col-md-3">
          <a href="/seller/dashboard/home/catalog-Draft" routerLink="/seller/dashboard/home/catalog-Draft" class="dashboard-card product-draft">
            <div class="icon">
              <i class="bi bi-save"></i>
            </div>
            <div class="info">
              <span>Draft</span>
              <span class="spanRight">{{ draftCount }}</span>
            </div>
          </a>
        </div>
      
      </div>
    </div>
    
 <!-- Search Input Starting -->
    <div class="mt-2">
      <input type="text" placeholder="Search Product"  style="width: 50%;"
      [(ngModel)]="searchText" (input)="onSearch()" class="form-control form-control-sm mb-3" />
    </div>
  <!-- Search Input Ending -->

    <table class="table table-bordered custom-table mt-4">
        <thead>
          <tr class="bg-light">
            <th scope="col" style="width: 60px;">S.NO</th>
            <th scope="col" style="width: 100px;">Images</th>
            <th scope="col" style="width: 250px;">Product Name</th>
            <th scope="col" style="width: 100px;">Category Name</th>
            <th scope="col">Inventory</th>
            <th scope="col">Product Id</th>
            <th scope="col" style="width: 120px;">Created Date</th>
            <th scope="col">Status</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of filteredItems; let i = index">

            <th scope="row">
              {{ i + 1 }}
            </th>  <!-- Index starts from 0, so add 1 to make it 1-based -->

            <td>
              <img [src]="data.catalogThumbnail" class="imageResponsive"  
               alt="Catalog Image" >
            </td>

            <td>
              {{ data.catalogName }}
            </td>

            <td>
              {{ data.categoryName }}
            </td>

            <td>
              {{ data.inventory }}
            </td>

            <td>
              {{data.catalogId}}
            </td>

            <td>
              {{data.catalogDate}}
            </td>

            <td>
              <div *ngIf="data.catalogStatus === 'QC_DRAFT'"  >
                <span  class="badge  text-dark p-2 qc-draft">
                  <i class="bi bi-bookmark-fill"></i>
                  DRAFT
                </span>
              </div>

              <div *ngIf="data.catalogStatus === 'QC_PROGRESS'">
                <span class="badge  text-dark p-2 qc-progress">
                  <i class="bi bi-clock-history"></i>
                  PROGRESS
                </span>
                </div>

              <div *ngIf="data.catalogStatus === 'QC_PASS'">
                <span class="badge text-dark p-2 product-pass qc-pass">
                  <i class="bi bi-check-circle-fill"></i>
                  QC PASS
                </span>
              </div>

              <div *ngIf="data.catalogStatus === 'QC_ERROR'">
                <span class="badge text-dark p-2 qc-error">
                  <i class="bi bi-exclamation-diamond-fill" style="color: #ff8c4e;" ></i>
                  ERROR
                </span>
              </div>
            </td>
            
          </tr>
        </tbody>
      </table>


      <mat-paginator 
      [pageSizeOptions]="[10, 40, 70, 100]" 
      [pageSize]="10"
      [length]="totalElements"
      (page)="nextPageProgress($event)"
      showFirstLastButtons>
    </mat-paginator>
    

    

    </div>