<div class="mt-4"> 

    
    
    <div class="container">

           

        <div class="row">

          <div class="col-md-6">

            <div class="alert">
              <i class="bi bi-window-sidebar px-1 baseColor"></i>
              <p>HOT DEAL ENGINE</p>
            </div>

           
            <!-- Search Input Starting -->
            <input type="text" placeholder="Search Hot Deal Engine" 
            [(ngModel)]="searchText" (input)="onSearch()" class="form-control form-control-sm mb-3" />
             <!-- Search Input Ending -->

            
            <table class="table table-sm fs11 table-hover" >
              <thead>
                <tr class="text-center">

                  <th scope="col">S.N</th>
                  <th scope="col">Id</th>
                  <th scope="col">Deal Name</th>
                  <th scope="col">Desc</th>
                  <th scope="col">status</th>
                  <th scope="col">update</th>
                  <th scope="col">Remove</th>

                </tr>
              </thead>
              <tbody >
                <tr *ngFor="let data of filteredItems , let i = index" class="text-center" >
                  <th scope="row">{{i}}</th>
                  <th>{{data.id}}</th>
                  
                  <td>{{data.dealName}}</td>

                  <td>{{data.description}}</td>
                 
                  <td *ngIf="data.status" >
                    <div class="dotGreen">
                      <i class="bi bi-dot"></i>
                    </div>  
                  </td>
                  <td *ngIf="!data.status" >
                    <div class="dotRed">
                      <i class="bi bi-dot"></i>
                    </div>  
                  </td>

                  <td>
                    <button  (click)="getHotDealsEngineById(data.id)"  type="button" class="btn btn-primary btn-sm">
                      <i class="bi bi-pencil-square bg-primary"></i>
                    </button>
                  </td>
                  <td>
                    <button (click)="deleteHotDealsEngine(data.id)" type="button" class="btn btn-sm" style="color: #ff1818;">
                      <i class="bi bi-file-earmark-x-fill"></i>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>

            <mat-paginator 
                    [pageSizeOptions]="[2, 4, 5, 8]" 
                    [pageSize]="2"
                    [length]="totalElements"
                    (page)="nextPage($event)"
                    showFirstLastButtons>
            </mat-paginator>

          </div>
          

            <div class="col-md-6">

                <!-- SAVE Hot Deals Engine STARTING -->
              <div *ngIf="!viceVersaForm">
                <div class="alert">
                  <i class="bi bi-window-sidebar px-1 baseColor"></i>
                  <p>Hot Deals Engine</p>  
                </div>
              
                  
                  <form 
                  name="form" 
                  #f="ngForm" 
                  (ngSubmit)="f.form.valid && saveHotDealEngine()" 
                  novalidate>


                    <div class="form-group">
                      <label class="fs12">DealName</label>
                      <input 
                      type="text" 
                      class="form-control form-control-sm" 
                      name="dealName" 
                      [(ngModel)]="form.dealName" 
                      required #dealName="ngModel"
                      minlength="4" 
                      maxlength="200" 
                      [class.dirty]="dealName.dirty" 
                      [class.touched]="dealName.touched"
                      [ngClass]="{ 'is-invalid': dealName.errors && (dealName.touched || dealName.dirty ) }" />
              
                      <div 
                      *ngIf="dealName.errors && (dealName.touched || dealName.dirty )" 
                      class="invalid-feedback">

                        <div 
                        *ngIf="dealName.errors['required'] ">
                        DealName is required
                        </div>

                        <div 
                        *ngIf="dealName.errors['minlength']">
                        DealName must be at least 5 characters
                        </div>

                        <div 
                        *ngIf="dealName.errors['maxlength']">
                        DealName must be at most 200 characters
                        </div>
                      </div>
                    </div>


                    <div class="form-group">
                      <label class="fs12">Description</label>
                      <textarea style="height: 100px"
                      type="text" 
                      class="form-control form-control-sm" 
                      name="description" 
                      [(ngModel)]="form.description" 
                      required #description="ngModel"
                      minlength="5" 
                      maxlength="500" 
                      [class.dirty]="description.dirty" 
                      [class.touched]="description.touched"
                      [ngClass]="{ 'is-invalid': description.errors && (description.touched || description.dirty ) }" >
                    </textarea>
              
                      <div 
                      *ngIf="description.errors && (description.touched || description.dirty )" 
                      class="invalid-feedback">

                        <div 
                        *ngIf="description.errors['required'] ">
                          description is required
                        </div>

                        <div 
                        *ngIf="description.errors['minlength']">
                          description must be at least 4 characters
                        </div>

                        <div 
                        *ngIf="description.errors['maxlength']">
                          description must be at most 500 characters
                        </div>
                      </div>
                    </div>

                    
              
                    <div class="d-grid gap-2 col-12 mx-auto mt-4">
                        <button mat-raised-button color="primary" [disabled]="f.invalid">save Hot Deals Engine</button>
                      </div>

                  </form>

                   <!-- SAVE Hot Deals Engine ENDING -->

              </div>
                    
              <div *ngIf="viceVersaForm">
                <!-- UPDATE Hot Deals Engine  START-->
                <div class="alert">
                  <i class="bi bi-window-sidebar px-1 baseColor"></i>
                  <p>Update Hot Deals Engine</p>
                </div>
                <button mat-raised-button (click)="createHotDealEngine()">Create Hot Deals Engine</button>
               
                <form 
                name="form" 
                #f="ngForm" 
                (ngSubmit)="f.form.valid && updateDealEngine() " 
                novalidate>

                  <div class="form-group">
                    <label class="fs12">Deal Name</label>
                    <input 
                    [(ngModel)]="updateform.dealName"
                    type="text" 
                    class="form-control form-control-sm" 
                    name="dealName" 
                    [(ngModel)]="form.dealName" 
                    required #dealName="ngModel"
                    minlength="5" 
                    maxlength="200" 
                    [class.dirty]="dealName.dirty" 
                    [class.touched]="dealName.touched"
                    [ngClass]="{ 'is-invalid': dealName.errors && (dealName.touched || dealName.dirty ) }" />
            
                    <div 
                    *ngIf="dealName.errors && (dealName.touched || dealName.dirty )" 
                    class="invalid-feedback">

                      <div 
                      *ngIf="dealName.errors['required'] ">
                      DealName is required
                      </div>

                      <div 
                      *ngIf="dealName.errors['minlength']">
                      DealName must be at least 5 characters
                      </div>

                      <div 
                      *ngIf="dealName.errors['maxlength']">
                      DealName must be at most 200 characters
                      </div>
                    </div>
                  </div>

                

                  <div class="form-group">
                    <label class="fs12">Description</label>
                    <textarea style="height: 100px"
                    type="text" 
                    [(ngModel)]="updateform.description"
                    class="form-control form-control-sm" 
                    name="description" 
                    [(ngModel)]="form.description" 
                    required #description="ngModel"
                    minlength="5" 
                    maxlength="200" 
                    [class.dirty]="description.dirty" 
                    [class.touched]="description.touched"
                    [ngClass]="{ 'is-invalid': description.errors && (description.touched || description.dirty ) }" >
                   </textarea>
            
                    <div 
                    *ngIf="description.errors && (description.touched || description.dirty )" 
                    class="invalid-feedback">

                      <div 
                      *ngIf="description.errors['required'] ">
                        description is required
                      </div>

                      <div 
                      *ngIf="description.errors['minlength']">
                        description must be at least 4 characters
                      </div>

                      <div 
                      *ngIf="description.errors['maxlength']">
                        description must be at most 500 characters
                      </div>
                    </div>
                  </div>

                  <div class="form-group">
                    <label class="fs12 mt-3">Deal Engine Status</label>
                      <div>
                        <mat-slide-toggle name="status"  [(ngModel)]="updateform.status">
                        </mat-slide-toggle>
                      </div>
                   </div>
                              
            
                  <div class="d-grid gap-2 col-12 mx-auto mt-4">
                      <button mat-raised-button color="primary" [disabled]="f.invalid">Update Deal Engine</button>
                     </div>

                </form>
                 <!-- UPDATE hot Deal Engine ENDING -->

              </div>
                
            </div>

        </div>

    </div>

</div>