<ngx-spinner
 bdColor = "rgba(0, 0, 0, 0.8)" 
 size = "small" 
 color = "#fff" 
 type="ball-clip-rotate"
 [fullScreen] = "true">
 <p style="color: white" > Loading... </p>
</ngx-spinner>



<!-- USER IS LOGGED IN  NAVBAR START -->
<div id="app" *ngIf="isLoggedIn">
  <nav class="navbar navbar-expand-lg navbar-light px-4 px-lg-5  py-lg-2" 
       style="background-color: white; position: fixed; top: 0; width: 100%; z-index: 1030; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);">
    <a href="index.html" class="navbar-brand p-0">
        <h2 class="display-6 m-0" style="color: #8B6BF6;">
          <i class="bi bi-send-check-fill"></i>
          Faster
        </h2>
        <!-- <img src="img/logo.png" alt="Logo"> -->
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
        <span class="fa fa-bars"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav ms-auto py-0">
        </div>
        <!-- <button mat-raised-button  class="baseColor" (click)="logout()">logout</button> -->
    </div>

 

    <div  class="dropdown">
      <a style="color: #8B6BF6;" class="dropdown-toggle px-3" mat-button href="#" data-bs-toggle="dropdown" aria-expanded="false">
        <i class="bi bi-person"></i> Profile
      </a>
    
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#">Action</a></li>
        <li><a class="dropdown-item" href="#">Another action</a></li>
        <li><a class="dropdown-item" href="#" (click)="logout()">logout</a></li>
      </ul>
    </div>
  </nav>
  <div class="container-fluid" style="margin-top: 80px;"> 
    <!-- Adjust margin-top to match the height of your fixed navbar -->
    <router-outlet></router-outlet>
  </div>
</div>
<!-- USER IS LOGGED IN NAVBAR ENDING -->

<!-- ------------------------------------------------------------------------------------------------ -->

<!-- USER IS NOT LOGGED IN  NAVBAR START -->
<div id="app" *ngIf="!isLoggedIn">
  <nav class="navbar navbar-expand-lg navbar-light px-4 px-lg-5 py-3 py-lg-2"
  style="background-color: white; position: fixed; top: 0; width: 100%; z-index: 1030; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);">
    <a href="index.html" class="navbar-brand p-0">
        <h1 class="display-6 text-primary m-0"><i class="bi bi-cart-check"></i>Mailler</h1>
        <!-- <img src="img/logo.png" alt="Logo"> -->
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
        <span class="fa fa-bars"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav ms-auto py-0">
        </div>
        <a href="#" routerLink="/login" class="btn btn-light border border-primary rounded-pill text-primary py-2 px-4 me-4">Log In</a>
        <a href="#" routerLink="/register" class="btn btn-primary rounded-pill text-white py-2 px-4">Sign Up</a>
    </div>
</nav>

  <div class="container-fluid"> 
    <router-outlet></router-outlet>
  </div>
</div>
<!-- USER IS NOT LOGGED IN  NAVBAR ENDING -->





<!-- ========================================================================================= -->
<!--                                           SIDEBAR                                         -->
 <!-- ======================================================================================== -->


<!-- SIDEBAR STARTING-->
<div *ngIf="isLoggedIn" >
              <div style="top: 9%;" class="sidebar scrollable-content" [ngClass]="{'sidebar-extend-min': !isSidebarVisible}">
                <!-- <a href="" class="item">Home</a>
                          <a href="" class="item">Product</a> -->
              
                <ul class="nav flex-column">
                  <li>
                    <h4 class="text-center text-light">
                      <i class="bi bi-send-check-fill"></i>
                      Faster
                    </h4>
                  </li>
              
                  <li class="nav-item mt-3">
                    <a class="nav-link hv1" routerLink="/seller/dashboard/home" href="/seller/dashboard/home"
                      data-bs-toggle="collapse" data-bs-target="#submenu1" aria-expanded="false">
                      <i class="bi bi-house-door"></i> Home
                    </a>
                  </li>
              
                  <li class="nav-item">
                    <a class="nav-link hv1" href="" data-bs-toggle="collapse" data-bs-target="#submenu4" aria-expanded="false" (click)="toggleArrow()">
                      <i class="bi bi-calendar4 mr-2"></i>
                      Products
                      <i class="bi bi-chevron-right arrow-icon ms-auto floatRit" [ngClass]="{'rotate-arrow': isArrowDown}"></i>
                    </a>
                    <ul class="collapse submenu4" id="submenu4">
                      <li class="submenu-item hv1 unOrderList">
                        <a type="button" style="font-size: 14px;" class="nav-link" 
                        href="/seller/dashboard/home/catalog-Area" routerLink="/seller/dashboard/home/catalog-Area">
                        <i class="bi bi-folder-plus"></i>
                           Upload Product
                        </a>
                      </li>

                      <li class="submenu-item hv1 unOrderList">
                        <a type="button" style="font-size: 14px;" class="nav-link" 
                        href="/seller/dashboard/home/product-Incomplete" routerLink="/seller/dashboard/home/product-Incomplete">
                        <i class="bi bi-exclamation-circle-fill"></i>
                          Product Incomplete
                        </a>
                      </li>

                      <li class="submenu-item hv1 unOrderList">
                        <a type="button" style="font-size: 14px;" class="nav-link" 
                        href="/seller/dashboard/home/catalog-all" routerLink="/seller/dashboard/home/catalog-all">
                        <i class="bi bi-list-ul"></i>
                          Product All
                        </a>
                      </li>

                      <li class="submenu-item hv1 unOrderList">
                        <a type="button" style="font-size: 14px;" class="nav-link" 
                        href="/seller/dashboard/home/catalog-Pass" routerLink="/seller/dashboard/home/catalog-Pass">
                        <i class="bi bi-check-circle"></i>
                          Product Pass
                        </a>
                      </li>

                      <li class="submenu-item hv1 unOrderList">
                        <a type="button" style="font-size: 14px;" class="nav-link" 
                        href="/seller/dashboard/home/catalog-in-progress" routerLink="/seller/dashboard/home/catalog-in-progress">
                        <i class="bi bi-clock-history"></i>
                          Product in Awaiting
                        </a>
                      </li>

                      <li class="submenu-item hv1 unOrderList">
                        <a type="button" style="font-size: 14px;" class="nav-link" 
                        href="/seller/dashboard/home/catalog-Error" routerLink="/seller/dashboard/home/catalog-Error">
                        <i class="bi bi-exclamation-circle-fill"></i>
                          Product Error
                        </a>
                      </li>




                      <li class="submenu-item hv1 unOrderList">
                        <a type="button" style="font-size: 14px;" class="nav-link" 
                        href="/seller/dashboard/home/catalog-Draft" routerLink="/seller/dashboard/home/catalog-Draft">
                        <i class="bi bi-save"></i>
                          Product Draft
                        </a>
                      </li>

                    </ul>
                  </li>

                  <li class="nav-item">
                    <a class="nav-link hv1" href="" data-bs-toggle="collapse" data-bs-target="#submenu4" aria-expanded="false" (click)="toggleArrow()">
                      <i class="bi bi-calendar4 mr-2"></i>
                      Brand
                      <i class="bi bi-chevron-right arrow-icon ms-auto floatRit" [ngClass]="{'rotate-arrow': isArrowDown}"></i>
                    </a>
                    <ul class="collapse submenu4" id="submenu4">
                      <li class="submenu-item hv1 unOrderList">
                        <a type="button" style="font-size: 14px;" class="nav-link" 
                        href="/seller/dashboard/home/catalog" routerLink="/seller/dashboard/home/catalog">
                          <i class="bi bi-bookmarks-fill"></i>
                          Brand 1
                        </a>
                      </li>
                    </ul>
                  </li>
              
                  <div class="divider"></div>
                </ul>
              
              </div>

            <!-- CONTENT -->
            <div *ngIf="isLoggedIn" class="content" [ngClass]="{'content-expanded': !isSidebarVisible}">
                  
                  <div class="p-4 loadDynamic">
                    <router-outlet>
                    
                      <button mat-stroked-button   type="button" (click)="toggleSidebar()">
                        <i class="bi bi-list"></i>
                      </button>
                    
                   

                      <span class="clock">
                        {{ currentTime }}
                      </span>
                      
                    <!-- DYNAMIC ROOT CONTENT -->
                  </router-outlet>
                    
                  </div>
            </div>
            <!-- CONTENT -->
</div>

<!-- SIDEBAR ENDING -->


<ng-toast />  <!-- takes default width of 350px and top-right position   -->








