<ngx-spinner
 bdColor = "rgba(0, 0, 0, 0.8)" 
 size = "small" 
 color = "#fff" 
 type="ball-clip-rotate"
 [fullScreen] = "true">
 <p style="color: white" > Loading... </p>
</ngx-spinner>



<!-- USER IS LOGGED IN  NAVBAR START -->
<div id="app" *ngIf="isLoggedIn">
  <nav class="navbar navbar-expand-lg navbar-light px-4 px-lg-5  py-lg-2" 
       style="background-color: white; position: fixed; top: 0; width: 100%; z-index: 1030; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);">
    <a href="index.html" class="navbar-brand p-0">
        <h2 class="display-6 m-0" style="color: #8B6BF6;">
          <i class="bi bi-send-check-fill"></i>
          Faster
        </h2>
        <!-- <img src="img/logo.png" alt="Logo"> -->
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
        <span class="fa fa-bars"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav ms-auto py-0">
        </div>
        <!-- <button mat-raised-button  class="baseColor" (click)="logout()">logout</button> -->
    </div>

 

    <div  class="dropdown">
      <a style="color: #8B6BF6;" class="dropdown-toggle px-3" mat-button href="#" data-bs-toggle="dropdown" aria-expanded="false">
        <i class="bi bi-person"></i> Profile
      </a>
    
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#">Action</a></li>
        <li><a class="dropdown-item" href="#">Another action</a></li>
        <li><a class="dropdown-item" href="#" (click)="logout()">logout</a></li>
      </ul>
    </div>
  </nav>
  <div class="container-fluid" style="margin-top: 80px;"> 
    <!-- Adjust margin-top to match the height of your fixed navbar -->
    <router-outlet></router-outlet>
  </div>
</div>
<!-- USER IS LOGGED IN NAVBAR ENDING -->

<!-- ------------------------------------------------------------------------------------------------ -->

<!-- USER IS NOT LOGGED IN  NAVBAR START -->
<div id="app" *ngIf="!isLoggedIn">
  <nav class="navbar navbar-expand-lg navbar-light px-4 px-lg-5 py-3 py-lg-2"
    style="background-color: white; position: fixed; top: 0; width: 100%; z-index: 1030; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);">
    <a href="index.html" class="navbar-brand p-0">
      <h1 class="display-6 text-primary m-0">
        <i class="bi bi-send-check-fill"></i>
        Faster
      </h1>
      <!-- <img src="img/logo.png" alt="Logo"> -->
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
      <span class="fa fa-bars"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <div class="navbar-nav ms-auto py-0">
      </div>
      <!-- <a href="#" routerLink="/login"
        class="btn btn-light border border-primary rounded-pill text-primary py-2 px-4 me-4">Log In</a> -->
    </div>
  </nav>

  <div class="container-fluid"> 
    <router-outlet></router-outlet>
  </div>
</div>
<!-- USER IS NOT LOGGED IN  NAVBAR ENDING -->





<!-- ========================================================================================= -->
<!--                                           SIDEBAR                                         -->
 <!-- ======================================================================================== -->


<!-- SIDEBAR STARTING-->
<div *ngIf="isLoggedIn" >
              <div style="top: 9%;" class="sidebar scrollable-content" [ngClass]="{'sidebar-extend-min': !isSidebarVisible}">
                <!-- <a href="" class="item">Home</a>
                          <a href="" class="item">Product</a> -->
              
                <ul class="nav flex-column">
                  <li>
                    <h4 class="text-center text-light">
                      <i class="bi bi-send-check-fill"></i>
                      Faster
                    </h4>
                  </li>
              
                  <li class="nav-item mt-3">
                    <a class="nav-link hv1" routerLink="/seller/dashboard/home" href="/seller/dashboard/home"
                      data-bs-toggle="collapse" data-bs-target="#submenu1" aria-expanded="false">
                      <i class="bi bi-house-door"></i> Home
                    </a>
                  </li>
              
                  <li class="nav-item">
                    <a class="nav-link hv1" href="" data-bs-toggle="collapse" data-bs-target="#submenu4" aria-expanded="false" (click)="toggleArrow()">
                      <i class="bi bi-calendar4 mr-2"></i>
                      Products
                      <i class="bi bi-chevron-right arrow-icon ms-auto floatRit" [ngClass]="{'rotate-arrow': isArrowDown}"></i>
                    </a>
                    <ul class="collapse submenu4" id="submenu4">
                      <li class="submenu-item hv1 unOrderList">
                        <a type="button" style="font-size: 14px;" class="nav-link" 
                        href="/seller/dashboard/home/catalog-Area" routerLink="/seller/dashboard/home/catalog-Area">
                        <i class="bi bi-folder-plus"></i>
                           Upload Product
                        </a>
                      </li>

                        <li class="unOrderList">
                          <a routerLink="/seller/dashboard/home/product-UnderReview" routerLinkActive="active" class="nav-link fs13"
                            href="/seller/dashboard/home/product-UnderReview">
                            <i class="bi bi-bag-check-fill"></i>
                            product UnderReview
                          </a>
                        </li>
                      
                        <li class="unOrderList">
                          <a routerLink="/seller/dashboard/home/product-approved" routerLinkActive="active" class="nav-link fs13"
                            href="/seller/dashboard/home/product-approved">
                            <i class="bi bi-bag-check-fill"></i>
                            Product Approved
                          </a>
                        </li>

                    </ul>
                  </li>

                  <li class="nav-item">
                    <a class="nav-link hv1" href="" data-bs-toggle="collapse" data-bs-target="#submenu5" aria-expanded="false" (click)="toggleArrow()">
                      <i class="bi bi-calendar4 mr-2"></i>
                      Category
                      <i class="bi bi-chevron-right arrow-icon ms-auto floatRit" [ngClass]="{'rotate-arrow': isArrowDown}"></i>
                    </a>
                    <ul class="collapse submenu5" id="submenu5">
                      <li class="submenu-item hv1 unOrderList">
                        <a type="button" style="font-size: 14px;" class="nav-link" 
                        href="/seller/dashboard/home/parent-category" routerLink="/seller/dashboard/home/parent-category">
                          <i class="bi bi-bookmarks-fill"></i>
                          Parent Category
                        </a>
                      </li>

                      <li class="submenu-item hv1 unOrderList">
                        <a type="button" style="font-size: 14px;" class="nav-link" 
                        href="/seller/dashboard/home/child-category" routerLink="/seller/dashboard/home/child-category">
                          <i class="bi bi-bookmarks-fill"></i>
                          Child Category
                        </a>
                      </li>

                      <li class="submenu-item hv1 unOrderList">
                        <a type="button" style="font-size: 14px;" class="nav-link" 
                        href="/seller/dashboard/home/baby-category" routerLink="/seller/dashboard/home/baby-category">
                          <i class="bi bi-bookmarks-fill"></i>
                          Baby-category
                        </a>
                      </li>

                      <li class="submenu-item hv1 unOrderList">
                        <a type="button" style="font-size: 14px;" class="nav-link" 
                        href="/seller/dashboard/home/born-category" routerLink="/seller/dashboard/home/born-category">
                          <i class="bi bi-bookmarks-fill"></i>
                          Born-category
                        </a>
                      </li>
                    </ul>
                  </li>

                  <li class="nav-item">
                    <a class="nav-link hv1" href="" data-bs-toggle="collapse" data-bs-target="#submenu6" aria-expanded="false" (click)="toggleArrow()">
                      <i class="bi bi-calendar4 mr-2"></i>
                      Catalog Meta
                      <i class="bi bi-chevron-right arrow-icon ms-auto floatRit" [ngClass]="{'rotate-arrow': isArrowDown}"></i>
                    </a>
                    <ul class="collapse submenu3" id="submenu6">
                      <li class="unOrderList">
                        <a routerLink="/seller/dashboard/home/hsnCodes" routerLinkActive="active" class="nav-link fs13"
                          href="/seller/dashboard/home/hsnCodes">
                          <i class="bi bi-tags-fill"></i>
                          HSN Code
                        </a>
                      </li>
            
                      <li class="unOrderList">
                        <a routerLink="/seller/dashboard/home/brand" routerLinkActive="active" class="nav-link fs13"
                          href="/seller/dashboard/home/brand">
                          <i class="bi bi-tags-fill"></i>
                          Brand
                        </a>
                      </li>
            
                      <li class="unOrderList">
                        <a routerLink="/seller/dashboard/home/material" routerLinkActive="active" class="nav-link fs13"
                          href="/seller/dashboard/home/material">
                          <i class="bi bi-tags-fill"></i>
                          Material
                        </a>
                      </li>
            
                      <li class="unOrderList">
                        <a routerLink="/seller/dashboard/home/type" routerLinkActive="active" class="nav-link fs13"
                          href="/seller/dashboard/home/type">
                          <i class="bi bi-tags-fill"></i>
                          Type
                        </a>
                      </li>
            
                      <li class=" unOrderList">
                        <a routerLink="/seller/dashboard/home/size" routerLinkActive="active" class="nav-link fs13"
                          href="/seller/dashboard/home/size">
                          <i class="bi bi-tags-fill"></i>
                          Size
                        </a>
                      </li>
            
                      <li class="unOrderList">
                        <a routerLink="/seller/dashboard/home/netQuantity" routerLinkActive="active" class="nav-link fs13"
                          href="/seller/dashboard/home/netQuantity">
                          <i class="bi bi-tags-fill"></i>
                          NetQuantity
                        </a>
                      </li>
                    </ul>
                  </li>
              

                  <li class="nav-item">
                    <a class="nav-link hv1" href="" data-bs-toggle="collapse" data-bs-target="#UI" aria-expanded="false" (click)="toggleArrow()">
                      <i class="bi bi-calendar4 mr-2"></i>
                      UI
                      <i class="bi bi-chevron-right arrow-icon ms-auto floatRit" [ngClass]="{'rotate-arrow': isArrowDown}"></i>
                    </a>
                    <ul class="collapse submenu3" id="UI">
                      <li class="unOrderList">
                        <a routerLink="/seller/dashboard/home/home-slider" routerLinkActive="active" class="nav-link fs13"
                          href="/seller/dashboard/home/home-slider">
                          <i class="bi bi-tags-fill"></i>
                          Home Slider
                        </a>
                      </li>
                    </ul>
                  </li>

                  <li class="nav-item">
                    <a class="nav-link hv1" href="" data-bs-toggle="collapse" data-bs-target="#HOT_DEALS_ENGINE" aria-expanded="false" (click)="toggleArrow()">
                      <i class="bi bi-calendar4 mr-2"></i>
                      Hot Deals
                      <i class="bi bi-chevron-right arrow-icon ms-auto floatRit" [ngClass]="{'rotate-arrow': isArrowDown}"></i>
                    </a>
                    <ul class="collapse submenu3" id="HOT_DEALS_ENGINE">
                      <li class="unOrderList">
                        <a routerLink="/seller/dashboard/home/hotDealsEngine" routerLinkActive="active" class="nav-link fs13"
                          href="/seller/dashboard/home/hotDealsEngine">
                          <i class="bi bi-tags-fill"></i>
                          Hot Deals Engine
                        </a>
                      </li>

                      <li class="unOrderList">
                        <a routerLink="/seller/dashboard/home/hotDeals" routerLinkActive="active" class="nav-link fs13"
                          href="/seller/dashboard/home/hotDeals">
                          <i class="bi bi-tags-fill"></i>
                          Hot Deals
                        </a>
                      </li>
                    </ul>
                  </li>


                  <li class="nav-item">
                    <a class="nav-link hv1" href="" data-bs-toggle="collapse" data-bs-target="#ORDERS" aria-expanded="false" (click)="toggleArrow()">
                      <i class="bi bi-calendar4 mr-2"></i>
                      Orders
                      <i class="bi bi-chevron-right arrow-icon ms-auto floatRit" [ngClass]="{'rotate-arrow': isArrowDown}"></i>
                    </a>
                    <ul class="collapse submenu3" id="ORDERS">
                      <li class="unOrderList">
                        <a routerLink="/seller/dashboard/home/orders" routerLinkActive="active" class="nav-link fs13"
                          href="/seller/dashboard/home/orders">
                          <i class="bi bi-tags-fill"></i>
                          Orders
                        </a>
                      </li>
                    </ul>

                    <ul class="collapse submenu3" id="ORDERS">
                      <li class="unOrderList">
                        <a routerLink="/seller/dashboard/home/ordersOneBYOne" routerLinkActive="active" class="nav-link fs13"
                          href="/seller/dashboard/home/ordersOneBYOne">
                          <i class="bi bi-tags-fill"></i>
                          ORDERS ONE BY ONE
                        </a>
                      </li>
                    </ul>

                    <ul class="collapse submenu3" id="ORDERS">
                      <li class="unOrderList">
                        <a routerLink="/seller/dashboard/home/orderDeliveryProcess" routerLinkActive="active" class="nav-link fs13"
                          href="/seller/dashboard/home/orderDeliveryProcess">
                          <i class="bi bi-tags-fill"></i>
                          order Delivery
                        </a>
                      </li>
                    </ul>
                  </li>



                  <li class="nav-item">
                    <a class="nav-link hv1" href="" data-bs-toggle="collapse" data-bs-target="#Refunds" aria-expanded="false" (click)="toggleArrow()">
                      <i class="bi bi-calendar4 mr-2"></i>
                      Refunds
                      <i class="bi bi-chevron-right arrow-icon ms-auto floatRit" [ngClass]="{'rotate-arrow': isArrowDown}"></i>
                    </a>
                    <ul class="collapse submenu3" id="Refunds">
                      <li class="unOrderList">
                        <a routerLink="/seller/dashboard/home/refunds" routerLinkActive="active" class="nav-link fs13"
                          href="/seller/dashboard/home/refunds">
                          <i class="bi bi-tags-fill"></i>
                          Payment Refunds
                        </a>
                      </li>
                    </ul>
                  </li>
                  <div class="divider"></div>
                </ul>
              
              </div>

            <!-- CONTENT -->
            <div *ngIf="isLoggedIn" class="content" [ngClass]="{'content-expanded': !isSidebarVisible}">
                  
                  <div class="p-4 loadDynamic">
                    <router-outlet>
                    
                      <button mat-stroked-button   type="button" (click)="toggleSidebar()">
                        <i class="bi bi-list"></i>
                      </button>
                    
                   

                      <span class="clock">
                        {{ currentTime }}
                      </span>
                      
                    <!-- DYNAMIC ROOT CONTENT -->
                  </router-outlet>
                    
                  </div>
            </div>
            <!-- CONTENT -->
</div>

<!-- SIDEBAR ENDING -->


<ng-toast />  <!-- takes default width of 350px and top-right position   -->








