
<div class="container mt-5" *ngIf="!regisCompletedSuccess">
    <div class="row">
      
      <!-- First Column -->
      <div class="col-12 col-sm-6 col-lg-6">
        <div class="container mt-4">

          <!-- Stepper Header (Clickable Steps) -->
          <ul class="nav nav-pills justify-content-center mb-4">
            <li class="nav-item" >
              <button mat-button
                class="nav-link" 
                [ngClass]="{'active': currentStep === 0, 'disabled': 0 > completedStep}" 
                (click)="goToStep(0)"
                [disabled]="0 > completedStep">
                SELLER TAX
              </button>

              <button mat-button
                class="nav-link" 
                [ngClass]="{'active': currentStep === 1, 'disabled': 1 > completedStep}" 
                (click)="goToStep(1)"
                [disabled]="1 > completedStep">
                PickUp
              </button>

              <button mat-button
                class="nav-link" 
                [ngClass]="{'active': currentStep === 2, 'disabled': 2 > completedStep}" 
                (click)="goToStep(2)"
                [disabled]="2 > completedStep">
                Bank Details
              </button>

              <button mat-button
                class="nav-link" 
                [ngClass]="{'active': currentStep === 3, 'disabled': 3 > completedStep}" 
                (click)="goToStep(3)"
                [disabled]="3 > completedStep">
                Supplier Details
              </button>
            </li>
          </ul>
        
          <!-- Stepper Content -->
          <div class="p-4">
            
            <!-- Step 1 START-->
            <div *ngIf="currentStep === 0">

              <!-- FORM STARTING -->
              <form class="row g-3" *ngIf="!isLoggedIn" name="form" #f="ngForm" (ngSubmit)="f.form.valid" class="w-100"
                style="max-width: 400px;"> <!-- Max width for form -->
            
                <!-- <p class="mt-3">Enter your Tax Details</p>   -->
                <div class="mb-3">
                  <label for="inputText" class="form-label">GST Number</label>
                  <input 
                  type="text"
                   class="form-control" 
                   id="inputText" 
                   placeholder="Enter GST Number" 
                   name="gstNumber"
                    [(ngModel)]="sellerTaxData.gstNumber" 
                    required #gstNumber="ngModel" 
                    minlength="15" 
                    maxlength="15" 
                    [class.dirty]="gstNumber.dirty"
                    [class.touched]="gstNumber.touched" 
                    [ngClass]="{ 'is-invalid': gstNumber.errors && (gstNumber.touched || gstNumber.dirty ) }">

                  <!-- Check Seller is Already Verified Or Not -->
                  <div *ngIf="isSellerVerified" >
                    <small id="emailHelp" class="form-text text-success">
                      Seller is Already Verified 
                      <i class="bi bi-check-circle-fill text-success"></i>
                    </small>
                  </div>
            
            
                  <div *ngIf="gstNumber.errors && (gstNumber.touched || gstNumber.dirty )" class="invalid-feedback">
            
                    <div *ngIf="gstNumber.errors['required'] ">
                      GST Number is required
                    </div>
            
                    <div *ngIf="gstNumber.errors['minlength']">
                      GST Number must be at least 15 characters
                    </div>
            
                    <div *ngIf="gstNumber.errors['maxlength']">
                      GST Number must be at most 10 characters
                    </div>
                  </div>
            
                </div>
            

                <!-- Verfied GST Number -->
                <button [disabled]="f.invalid" class="btn btn-sm btn-success" (click)="verfiySeller()" >verify GST</button>
            


                  <div class="mt-5">
                    <input name="isProvideDetailsLater"  [(ngModel)]="isProvideDetailsLater" class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                      <label class="form-check-label blockquote" for="flexCheckDefault" style="font-size: 13px;">
                        I will Provide Details Later
                      </label>
                  </div>

                  <div *ngIf="!isGstVerified" >
                    <button  
                    (click)="nextStep(); disabledFirst()"  
                    style="width: 100%;" 
                    mat-raised-button
                    [disabled]="currentStep === steps.length - 1">Disabled</button>
                  </div>

                  <!-- <div *ngIf="!isProvideDetailsLater">
                      <button [disabled]="f.invalid" style="width: 100%;" mat-raised-button color="primary" (click)="nextStep()"
                      [disabled]="currentStep === steps.length - 1">
                      {{ currentStep === steps.length - 1 ? 'Submit' : 'Continue' }}
                    </button>
                  </div> -->



                <!-- <div *ngIf="isProvideDetailsLater">
                  <button style="width: 100%;" mat-raised-button color="primary" (click)="provideDetailsLater()">
                    Provide Details Later | Create Account
                </button>
                </div> -->

                

              </form>
              <!-- FORM ENDING -->
            </div>
             <!-- Step 1 END-->


            <!-- Step 2 START-->
            <div *ngIf="currentStep === 1">
              <h4>Step 2: Contact Information</h4>
              <form>
                <div class="mb-3">
                  <label for="email" class="form-label">Email</label>
                  <input type="email" id="email" class="form-control" placeholder="Enter email">
                </div>
                <div class="mb-3">
                  <label for="phone" class="form-label">Phone</label>
                  <input type="tel" id="phone" class="form-control" placeholder="Enter phone number">
                </div>

                <div >
                  <button  
                  (click)="nextStep(); disabledFirst()"  
                  style="width: 100%;" 
                  mat-raised-button
                  [disabled]="currentStep === steps.length - 1">Disabled</button>
                </div>

              </form>
              
            </div>
             <!-- Step 2  END-->

             
        
            <!-- Step 3 START-->
            <div *ngIf="currentStep === 2">
              <h4>Step 3: Confirmation</h4>
              <p>Please review your information and click 'Submit' to complete.</p>

              <div>
                <button  
                (click)="nextStep();"  
                style="width: 100%;" 
                mat-raised-button
                [disabled]="currentStep === steps.length - 1">Disabled</button>
              </div>
            </div>
            <!-- Step 3  END-->



             <!-- Step 4 START-->
             <div *ngIf="currentStep === 3">
              <h4>Step 4: STEP 4</h4>
              <p>4 Please review your information and click 'Submit' to complete.</p>

              <div >
                <button  
                (click)="nextStep(); disabledFirst()"  
                style="width: 100%;" 
                mat-raised-button
                [disabled]="currentStep != steps.length - 1">Disabled</button>
              </div>
            </div>
            <!-- Step 4  END-->
        
            <!-- Navigation Buttons -->
            <!-- <div class="d-flex justify-content-between mt-3">
              <button 
                class="btn btn-secondary" 
                (click)="previousStep()" 
                [disabled]="currentStep === 0">Previous</button>
              
              <button 
                class="btn btn-primary" 
                (click)="nextStep()" 
                [disabled]="currentStep === steps.length - 1">
                {{ currentStep === steps.length - 1 ? 'Submit' : 'Next' }}
              </button>
            </div> -->
          </div>
        </div>
        
      </div>
      
      <!-- Second Column -->
      <div class="col-12 col-sm-6 col-lg-6"  >

        <p class="text-center">Accordinan</p>

      </div>
  
    </div>
  </div>
  




      <!-- Registeration Completed Success START -->

      <mat-card *ngIf="regisCompletedSuccess" class="example-card text-center mx-auto"
             style="max-width: 400px;border-radius: 15px; box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);"  >

        <mat-card-header class="text-center mx-auto mt-4">
          <mat-card-title class="d-flex justify-content-center align-items-center flex-column">
            <i class="bi bi-check-circle-fill" style="font-size: 80px;color: greenyellow;"></i>
            <span>Success</span> <!-- Add title text here -->
          </mat-card-title>
        </mat-card-header>

        <mat-card-content class="mt-4 mb-3">
          <p class="px-3">Congratulation ! Your Account has been  Created successfully</p>
          <mat-divider></mat-divider>
        </mat-card-content>

        <!-- <mat-card-actions class="text-center mx-auto">
          <button mat-raised-button color="success">Primary</button>
        </mat-card-actions> -->

        <mat-card-footer  class="mb-3 px-3">
          <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        </mat-card-footer>
        
        <p class="mt-3" style="font-size: 11px;">
          Please wait few seconds we are redirecting you automatically
        </p>

        <mat-divider></mat-divider>
        
      </mat-card>
      <!-- Registeration Completed Success ENDING-->

  
    