<div class="container bg-white mt-3 p-3" style="border-radius:10px ;">
    <div>
        <h5 class="headingStyle" >
             Pending 
             <span>
               ({{totalElements}})
             </span>
        </h5>
    </div>
    <div class="row mt-3">

        
       <!-- Search Input Starting -->
          <div class="mt-2">
            <input type="text" placeholder="Search Product"  style="width: 50%;"
            [(ngModel)]="searchText" (input)="onSearch()" class="form-control form-control-sm mb-3" />
          </div>
        <!-- Search Input Ending -->


        <table class="table table-bordered table-hover custom-table fs11">
            <thead>
              <tr class="bg-light">
                    <th>S.NO</th>
                    <th>Image</th>
                    <th>Product Name</th>
                    <th>product Code</th>
                    <th>Creation Date/Time</th>
                    <th>Status</th>
                   
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let data of filteredItems; let i = index">
                <td>{{ data.id }}</td>

                    <td *ngIf="data.fileUrl !== null ">
                      <img [src]="data.fileUrl" [alt]="data.fileName" style="width: 50px; height: 50px;" />
                    </td>

                    <td *ngIf="data.fileUrl === '' || data.fileUrl === null ">
                      <img src="../../../../../assets/Varinat Images/Varinat Sample 1.png" alt="Product Image"
                        style="width: 50px; height: 50px"/><br>
                      <span class="fs10">Please Upload images</span>
                    </td>

                    <td style="max-width: 250px;">{{ data.productName }}</td>
                    <td>{{ data.productCode }}</td>

                    <td>
                        <span class="fs11 productStatusDt">
                        <i class="bi bi-calendar2-check"></i>
                        <span class="mx-2" >
                            {{ data.creationDate }} 
                        </span>
                        </span><br><br>
                        <span class="fs11 productStatusDt mt-2">
                            <i class="bi bi-clock-history"></i>
                            <span class="mx-2" >
                            {{ data.creationTime }}
                            </span>
                        </span>
                    </td>

                    <td *ngIf="data.productStatus === 'PV_APPROVED'">
                      <span iv class=" productStatus px-2">
                        <span class="fs12 approvedClr">
                          <i class="bi bi-check-circle-fill approvedClr"></i>
                          APPROVED
                        </span>
                        <span>
                          <i class="bi bi-dot status-dot "></i>
                        </span>
                      </span>
                    </td>
                
              </tr>
            </tbody>
          </table>

          <div *ngIf=" filteredItems && filteredItems.length <= 0" class="text-center p-2">
            <img src="../../../../../assets/no-data-found-images/no-data-found-image.png" height="300" width="300" alt="No data found">
            <p class="text-center mt-3">
              No data available
            </p>
          </div>

          
          <mat-paginator 
          [pageSizeOptions]="[10, 50, 100, 200]" 
          [pageSize]="10"
          [length]="totalElements"
          (page)="nextPagePending($event)"
          showFirstLastButtons>
      </mat-paginator>
</div>