.headingStyle {
    font-size:14px;
    font-weight: bold;
    text-align: center;
    background: #f0f0f0;
    padding: 10px;
    border-radius: 8px;
    color: #4361ee;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 160px;
  }

  .productStatusDt{
    background-color: #f4fffc;
    border-radius: 2px;
    padding: 4px;
    font-weight: 500;
  }

  .productStatus{
    background-color: transparent;
    border-radius: 4px;
    padding: 4px;
    font-weight: 500;
  }

 

.status-dot {
  color: rgb(10, 224, 10); /* Amber color for pending */
  animation: blink 1.5s infinite;
}
@keyframes blink {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.3;
  }
}


.approvedClr{
  color: #00FF00;
}