.headingStyle {
    font-size:14px;
    font-weight: bold;
    text-align: center;
    background: #f0f0f0;
    padding: 10px;
    border-radius: 8px;
    color: #4361ee;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 160px;
  }

  .productStatus{
    background-color: #d6eaf8;
    border-radius: 2px;
    padding: 4px;
    font-weight: 500;
  }

  .productStatusPending{
    background-color: #fdff8f;
    border-radius: 4px;
    padding: 4px;
    font-weight: 500;
  }

 

.status-dot {
  color: #f39c12; /* Amber color for pending */
  animation: blink 1.5s infinite;
}
@keyframes blink {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.3;
  }
}


.verifyBtn{
  background-color: #CAD428;
  font-size: 12px;
  height: 30px; 
  min-width: 80px;
  color: black;
}

.tdMaxWidth{
max-width: 200px;
}


.proFile{
  width: 80px; 
  height: 80px;
  object-fit: cover;
  border-radius: 6px;
}