

  
  /*** Footer Start ***/
  .footer {
    background: linear-gradient(rgba(102, 16, 242, 0.05), rgba(102, 16, 242, 0.05));
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    
  }
  .footer .footer-item a {
    line-height: 35px;
    color: var(--bs-dark);
    transition: 0.5s;
    text-decoration: none;
  }
  
  .footer .footer-item p {
    line-height: 35px;
  }
  
  .footer .footer-item a:hover {
    letter-spacing: 2px;
    color: var(--bs-primary);
  }
  
  .copyright {
    border-top: 1px solid rgba(255, 255, 255, 0.08);
    background: var(--bs-dark) !important;
  }