/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;overflow-x: hidden; }


.baseColor{
    color: #7e76ff;
}

.fs1{
    font-size: 1px;;
}

.fs2{
    font-size: 2px;;
}

.fs3{
    font-size: 3px;;
}

.fs4{
    font-size: 4px;;
}

.fs5{
    font-size: 5px;;
}

.fs6{
    font-size: 6px;;
}

.fs7{
    font-size: 7px;;
}

.fs8{
    font-size: 8px;;
}

.fs9{
    font-size: 9px;;
}

.fs10{
    font-size: 10px;;
}

.fs11{
    font-size: 11px;;
}
.fs12{
    font-size: 12px;;
}

.fs13{
    font-size: 13px;;
}
.fs14{
    font-size: 14px;;
}

.fs15{
    font-size: 15px;;
}

.fs16{
    font-size: 16px;;
}
.fs17{
    font-size: 17px;;
}
.fs18{
    font-size: 18px;;
}
.fs19{
    font-size: 19px;;
}
.fs20{
    font-size: 20px;;
}

.fs21{
    font-size: 21px;;
}
.fs22{
    font-size: 22px;;
}
.fs23{
    font-size: 23px;;
}
.fs24{
    font-size: 24px;;
}
.fs25{
    font-size: 25px;;
}
.fs26{
    font-size: 26px;;
}
.fs27{
    font-size: 27px;;
}
.fs28{
    font-size: 28px;;
}
.fs29{
    font-size:29px;;
}
.fs30{
    font-size: 30px;;
}
.fs31{
    font-size: 31px;;
}
.fs32{
    font-size: 32px;;
}
.fs33{
    font-size: 33px;;
}