

.custom-height {
  height: 36px; /* Adjust the height as needed */
}

/* Responsive Section */
.responsive-section {
  padding: 1px;
  width: 100%;
}

.section-title {
  margin: 0;
  font-size: 15px;
  color: #333;
  font-weight: 500;
}

/* Divider Line */
.divider {
  margin-top: 5px;
  border: none;
  border-top: 2px solid #d1cccc; /* Light gray color */
}



/* Display upload boxes in a row */
.upload-row {
  display: flex;
  justify-content: first baseline; /* Space between boxes */
  align-items: flex-start;       /* Align all boxes to the top */
  gap: 10px;                     /* Optional spacing between boxes */
  flex-wrap: wrap;               /* Wrap boxes if there isn't enough space */
}

/* Style for individual upload containers */
.upload-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100px; /* Set box width */
}

/* Style for upload boxes */
.upload-box {
  width: 100px;
  height: 100px;
  border: 2px dashed #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.upload-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.upload-placeholder {
  text-align: center;
  color: #999;
}

.upload-placeholder span {
  font-size: 24px;
}

/* Progress bar styles */
.progress-bar-container {
  width: 100%;
  height: 5px;
  background-color: #f3f3f3;
  border-radius: 3px;
  overflow: hidden;
  margin-top: 5px;
}

.progress-bar {
  height: 100%;
  background-color: #4caf50;
  transition: width 0.2s ease;
}

/* Remove button styles */
.remove-btn {
  margin-top: 5px;
  padding: 5px 10px;
  font-size: 12px;
  color: white;
  background-color: #f44336;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.remove-btn:hover {
  background-color: #d32f2f;
}

.upload-container.error .upload-box {
  border: 2px dashed #ed1d1d;
}

.error-message {
  color: #ed1d1d;
  font-size: 14px;
  margin-top: 10px;
}






/* Heading Bolder */

.fwBolder{
  color: #34495e;
  font-weight: 500;
}


.mini-item {
  display: flex;
  align-items: center;
  margin-right: 20px;
  font-size: 0.85rem;
}
.mini-item img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}






.alertErrors {
  background-color: #F0504F;
  padding: 7px;
  border-radius: 5px;
  color: white;
}