



<div class="container p-2 bg-white row mt-2" style="border-radius: 15px;">
    <div class="col-md-8">

       <!-- Upload File Starting  -->
        <div class="bg-light mt-4 p-4" style="border-radius: 10px;">
            
          <div class="responsive-section mb-3">
            <h2 class="section-title">Upload Files</h2>
          </div>

          <div *ngIf="showError && !files[0].file" class="alertErrors mb-2" >
            <i class="bi bi-exclamation-triangle"></i>
            Please Upload Main Image
          </div>

          <div class="upload-row">

            <div class="upload-container" *ngFor="let file of files; let i = index"
              [ngClass]="{'error': i === 0 && showError && !file.file}">
              <div class="upload-box" (click)="!file.previewUrl && fileInputRefs.toArray()[i].nativeElement.click()">
                <img *ngIf="file.previewUrl" [src]="file.previewUrl" alt="Preview" />
                <div *ngIf="!file.previewUrl" class="upload-placeholder">
                  <span>+</span>
                  <p>Upload</p>
                </div>
              </div>
        
              <input #fileInput type="file" hidden (change)="onFileSelected($event, i)" accept="image/*" />

              <div *ngIf="i === 0" >
                <span>Main</span>
              </div>
        
              <div *ngIf="file.uploadProgress !== null" class="progress-bar-container">
                <div class="progress-bar" [style.width]="file.uploadProgress + '%'"></div>
              </div>
        
              <button *ngIf="file.previewUrl" class="remove-btn" (click)="removeFile(i)">
                Remove
              </button>
            </div>
          </div>

          <div style="text-align: right;" >
            <span class="fs12" >
              <a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal" 
                style="text-decoration: none;color: #5d6d7e;">
              <i class="bi bi-exclamation-circle text-warning" ></i>
                Product Image Style Guildlines
              </a>
            </span>
          </div>
        </div>

        <!-- Upload File Ending  -->


        <!-- Form Starting -->
        <form class="form-row mt-4" [formGroup]="productForm" (ngSubmit)="productProcess()" >
                        
            <div class="row">
                <div class="responsive-section">
                    <h2 class="section-title">Product Identity</h2>
                    <hr class="divider">
                </div>

                <div class="col-md-6 mb-2"  *ngFor="let field of productIdentityListFromMaker">
                  
                    <label [for]="field.identifier" class="form-label fs13">
                        {{ field.name }} 
                        <span *ngIf="field.required" class="text-danger" >*</span>
                        <i class="bi bi-exclamation-circle mx-1 fs11" 
                        #tooltip="matTooltip" matTooltip="{{field.exclamationDesc}}">
                      </i>
                    </label>

                    <input
                        *ngIf="field.type === 'TEXT'"
                        type="text"
                        [formControlName]="field.identifier"
                        [id]="field.identifier"
                        class="form-control custom-height"
                        [placeholder]="field.description"
                        [minlength]="field.minLength"
                        [maxlength]="field.maxLength"
                        aria-label="file example"
                        [ngClass]="{
                                    'is-invalid': productForm.get(field.identifier)?.touched &&
                                    productForm.get(field.identifier)?.invalid
                                    }"
                      
                    />

                    <div>
                      <select
                        *ngIf="field.type === 'DROPDOWN'"
                        [formControlName]="field.identifier"
                        [id]="field.identifier"
                        class="form-select"
                      (ngModelChange)="field.identifier === 'gst'?onGstChange($event):''"
                        [ngClass]="{
                                  'is-invalid': productForm.get(field.identifier)?.touched &&
                                  productForm.get(field.identifier)?.invalid
                                  }"
                      >
                      <option selected disabled value="">select...</option>
                        <option *ngFor="let option of field.values" [value]="option">{{ option }}</option>
                      </select>
                    </div>


                    <div *ngIf="productForm.get(field.identifier)?.touched && productForm.get(field.identifier)?.invalid" class="text-danger fs12">
                        <small *ngIf="productForm.get(field.identifier)?.errors?.['required']">
                        {{ field.name }} is required.
                        </small>
                        <small *ngIf="productForm.get(field.identifier)?.errors?.['minlength']">
                        Minimum value is {{ field.minLength }}.
                        </small>
                        <small *ngIf="productForm.get(field.identifier)?.errors?.['maxlength']">
                        Maximum value is {{ field.maxLength }}.
                        </small>
                    </div>

                </div>
            </div>



            <!-- Dropdown menu -->
            <div class="dropdown mt-4" *ngFor="let productSize of productSizesFormMaker">

                <div class="responsive-section">
                  <h2 class="section-title">Product Size</h2>
                  <hr class="divider">
                </div>

                <div  *ngIf="productSizeError" class="alertErrors mb-2" style="max-width: 200px;" >
                  <i class="bi bi-exclamation-triangle"></i>
                  <span class="fs12 mx-2" >Please Select Size</span>
                </div>

                <button
                  class="btn btn-light dropdown-toggle btn-sm"
                  type="button"
                  id="dropdownMenuButton"
                  data-bs-toggle="dropdown"
                  aria-expanded="false">
                  Select Product Size
                </button> 

                <button class="offset-md-6" color="primary" type="button" mat-raised-button (click)="openModal()">
                 Add Variats
                </button>

                <ul class="dropdown-menu px-2" aria-labelledby="dropdownMenuButton">
                  <!-- Checkbox for each option -->
                  <li *ngFor="let sizesData of productSize.values">
                    <div class="form-check">
                      <input
                        type="checkbox"
                        class="form-check-input"
                        [id]="sizesData"
                        [checked]="productForm.value.productSizes.includes(sizesData)"
                        (change)="toggleSelection(sizesData)"
                      />
                      <label class="form-check-label" [for]="sizesData">
                        {{ sizesData }}
                      </label>
                    </div>
                  </li>
                </ul>
              </div>
              <!-- Dropdown menu -->


            <div class="mt-3" style=" overflow-x: auto;  white-space: nowrap;">

                <table class="table table-hover table-bordered"  >
            
                    <thead style="background-color: aliceblue;">
                        <tr class="fs12 text-center" style="color: #616a6b;">
                            <th *ngFor="let columnName of tableRowsFormMaker">
                                {{ columnName.name }}
                                 <span *ngIf="columnName.required" class="text-danger" >*</span>
                                  <i class="bi bi-exclamation-circle mx-1 fs11" 
                                  #tooltip="matTooltip" matTooltip="{{columnName.exclamationDesc}}">
                                </i>
                            </th>
                            <th>Actions</th>
                        </tr>
                    </thead>

                    <tbody formArrayName="tableRows">
                      <tr *ngFor="let tableRow of tableRows.controls; let i = index" [formGroupName]="i">
                        <td *ngFor="let col of tableRowsFormMaker">
                          <!-- Label Field -->
                          <div *ngIf="col.type === 'LABEL'">
                            <input style="width: 150px;" type="text" [formControlName]="col.identifier" class="form-control" readonly />
                            <!-- {{ tableRow.get(col.identifier)?.value }} -->
                          </div>

                          <div *ngIf="col.identifier !== 'productMrp'">
                            <input style="width: 150px;"
                            *ngIf="col.type === 'TEXT'"
                            type="text"
                            [formControlName]="col.identifier"
                            [id]="col.identifier"
                            class="form-control custom-height"
                            [placeholder]="col.description"
                            [minlength]="col.minLength"
                            [maxlength]="col.maxLength"
                            (input)="col.identifier === 'productPrice' ? onPriceChange(i) : null"
                            aria-label="file example"
                            [ngClass]="{
                                       'is-invalid': tableRow.get(col.identifier)?.touched && 
                                       tableRow.get(col.identifier)?.invalid
                                        }"
                                        (input)="removeNonNumericCharacters($event)"
                          
                            />
                          </div>
                          <!-- <small class="text-muted">Current value: {{ tableRow.get(col.identifier)?.value }}</small> -->
                           
                          <div *ngIf="col.identifier === 'productMrp'">
                            <input
                              style="width: 150px;"
                              *ngIf="col.type === 'TEXT'"
                              type="text"
                              [formControlName]="col.identifier"
                              [id]="col.identifier"
                              class="form-control custom-height"
                              [placeholder]="col.description"
                              [minlength]="col.minLength"
                              [maxlength]="col.maxLength"
                              (input)="onMrpChanged(i)"
                              aria-label="file example"
                              [ngClass]="{
                                'is-invalid': tableRow.get(col.identifier)?.touched &&
                                tableRow.get(col.identifier)?.invalid
                              }"
                          />
                          </div>
                          
                          <!-- Select Box Field -->
                          <div *ngIf="col.type === 'DROPDOWN'">
                            <select style="width: 150px;"
                                  [formControlName]="col.identifier"
                                  [id]="col.identifier"
                                  class="form-select"
                                  [ngClass]="{
                                    'is-invalid': tableRow.get(col.identifier)?.touched &&
                                    tableRow.get(col.identifier)?.invalid
                                  }"
                                >
                                  <option selected disabled value="">select...</option>
                                  <option *ngFor="let option of col.values" [value]="option">{{ option }}</option>
                                </select>
                          </div>


                          <!-- Error Messages for Select Box -->
                          <div *ngIf="tableRow.get(col.identifier)?.touched && tableRow.get(col.identifier)?.invalid" class="text-danger fs12">
                            <small *ngIf="tableRow.get(col.identifier)?.errors?.['required']">
                              {{ col.name }} is required.
                            </small>
                            <small *ngIf="tableRow.get(col.identifier)?.errors?.['minlength']">
                              Minimum length is {{ col.minLength }} characters.
                            </small>
                            <small *ngIf="tableRow.get(col.identifier)?.errors?.['maxlength']">
                              Maximum length is {{ col.maxLength }} characters.
                            </small>
                            <small 
                            *ngIf="tableRow.get(col.identifier)?.errors?.['lessThanPrice']" >
                            Mrp Price is not less than the <br>actual price.
                          </small>
                          
                          </div>
                        </td>
                      
                        <td>
                          <button mat-raised-button color="primary"  (click)="removeRow(i)">Remove</button>
                        </td>
                      </tr>
                    </tbody>
                </table>

               

            </div>


            <div class="row mt-4">

                <div class="responsive-section">
                   <h2 class="section-title">Product Identity</h2>
                   <hr class="divider">
                </div>

                <div class="col-md-6 mb-2"  *ngFor="let field of productDetailsFormMaker">

                      <label [for]="field.identifier" class="form-label fs13">
                        {{ field.name }}
                          <span *ngIf="field.required"  class="text-danger" >*</span>
                          <i class="bi bi-exclamation-circle mx-1 fs11" 
                           #tooltip="matTooltip" matTooltip="{{field.exclamationDesc}}">
                          </i>
                      </label>

                      <input
                          *ngIf="field.type === 'TEXT'"
                          type="text"
                          [formControlName]="field.identifier"
                          [id]="field.identifier"
                          class="form-control custom-height"
                          [placeholder]="field.description"
                          [minlength]="field.minLength"
                          [maxlength]="field.maxLength"
                          aria-label="file example"
                          [ngClass]="{
                                      'is-invalid': productForm.get(field.identifier)?.touched &&
                                      productForm.get(field.identifier)?.invalid
                                      }"
                    />

                    <div>
                      <select
                        *ngIf="field.type === 'DROPDOWN'"
                        [formControlName]="field.identifier"
                        [id]="field.identifier"
                        class="form-select"
                        [ngClass]="{
                                  'is-invalid': productForm.get(field.identifier)?.touched &&
                                  productForm.get(field.identifier)?.invalid
                                  }"
                      >
                      <option selected disabled value="">select...</option>
                        <option *ngFor="let option of field.values" [value]="option">{{ option }}</option>
                      </select>
                    </div>
                    
                      <div *ngIf="productForm.get(field.identifier)?.touched && productForm.get(field.identifier)?.invalid" class="text-danger fs12">
                          <small *ngIf="productForm.get(field.identifier)?.errors?.['required']">
                          {{ field.name }} is required.
                          </small>
                          <small *ngIf="productForm.get(field.identifier)?.errors?.['minlength']">
                          Minimum value is {{ field.minLength }}.
                          </small>
                          <small *ngIf="productForm.get(field.identifier)?.errors?.['maxlength']">
                          Maximum value is {{ field.maxLength }}.
                          </small>
                      </div>

                </div>

            </div>



            <div class="row">
                <div class="responsive-section">
                  <h2 class="section-title">Product Other Details</h2>
                  <hr class="divider">
                </div>

                <div class="col-md-6 mb-2"  *ngFor="let field of productOtherDetailsFormMaker">

                  <label [for]="field.identifier" class="form-label fs13">
                    {{ field.name }}
                    <span  >
                      <span *ngIf="field.required" class="text-danger" >*</span>
                      <i class="bi bi-exclamation-circle mx-1 fs11" 
                         #tooltip="matTooltip" matTooltip="{{field.exclamationDesc}}">
                     </i>
                    </span>
                  </label>

                  <input
                      *ngIf="field.type === 'TEXT'"
                      type="text"
                      [formControlName]="field.identifier"
                      [id]="field.identifier"
                      class="form-control custom-height"
                      [placeholder]="field.description"
                      [minlength]="field.minLength"
                      [maxlength]="field.maxLength"
                      aria-label="file example"
                      [ngClass]="{
                                  'is-invalid': productForm.get(field.identifier)?.touched &&
                                  productForm.get(field.identifier)?.invalid
                                  }"
                />

                <textarea
                        *ngIf="field.type === 'TEXTBOX'"
                        type="text"
                        id="exampleFormControlTextarea1"
                        rows="4"
                        [formControlName]="field.identifier"
                        [id]="field.identifier"
                        class="form-control"
                        [placeholder]="field.description"
                        [minlength]="field.min"
                        aria-label="file example"
                        [ngClass]="{
                          'is-invalid': productForm.get(field.identifier)?.touched &&
                          productForm.get(field.identifier)?.invalid
                        }"
              > </textarea>

                <div>
                  <select
                    *ngIf="field.type === 'DROPDOWN'"
                    [formControlName]="field.identifier"
                    [id]="field.identifier"
                    class="form-select"
                    [ngClass]="{
                              'is-invalid': productForm.get(field.identifier)?.touched &&
                              productForm.get(field.identifier)?.invalid
                              }"
                  >
                  <option selected disabled value="">select...</option>
                    <option *ngFor="let option of field.values" [value]="option">{{ option }}</option>
                  </select>
                </div>
                
                  <div *ngIf="productForm.get(field.identifier)?.touched && productForm.get(field.identifier)?.invalid" class="text-danger fs12">
                      <small *ngIf="productForm.get(field.identifier)?.errors?.['required']">
                      {{ field.name }} is required.
                      </small>
                      <small *ngIf="productForm.get(field.identifier)?.errors?.['minlength']">
                      Minimum value is {{ field.minLength }}.
                      </small>
                      <small *ngIf="productForm.get(field.identifier)?.errors?.['maxlength']">
                      Maximum value is {{ field.maxLength }}.
                      </small>
                  </div>

              </div>
          </div>

          <div class="mt-2 d-flex justify-content-end">
            <button style="width: 250px;"  class="mx-2"  type="submit"
                    mat-raised-button color="primary">
                    Submit Product
            </button>

            <button style="width: 250px;" (click)="getProductById()" class="mx-2" 
                    mat-raised-button color="primary">
                    getProductById
            </button>
          </div>
          

        </form>
        <!-- Form Ending -->
        <!-- {{productForm.value | json}}  -->
    </div>



        <!-- Bank Sattlement  -->
            <div class="col-md-4" style="background-color: #eafaf1;border-radius: 15px;">
            
              <div class="mt-4">
                <div class="alert alert-warning fs12" role="alert">
                  mages Sample Here to Upload
                </div>
                <!-- First Item -->
                <div class="mini-item mb-2" *ngFor="let data of sampleProductImages; let i = index ">
                  <img [src]="data.fileName" alt="Back Image" class="img-fluid mb-2" style="object-fit: cover;">
                  <div>
                    <p class=" mb-0 ml-3">{{data.title}}</p>
                    <p class="text-muted mb-0 ml-3 fs12">{{data.description}}</p>
                  </div>
                </div>
              </div>
            
              <!-- Bank Settlement Breakdown -->
              <div class=" mb-4 mt-4">
                <div class="card bg-light border-0">
                  <div class="card-body fs12">
                    <p class="card-title fs12 fwBolder">Settlement Amount</p>
                    <hr>
                    <div class="d-flex justify-content-between">
                      <span>Price
                        <i class="bi bi-exclamation-circle" #tooltip="matTooltip" 
                            matTooltip="details option in admin panel where admin can see use">
                        </i>
                      </span>
                      <span>&#8377;{{priceActual}}</span>
                    </div>
                    <div class="d-flex justify-content-between mt-1">
                      <span>Commission Fee (0%)
                        <i class="bi bi-exclamation-circle" #tooltip="matTooltip" 
                          matTooltip="admin can add subadmin with to that role.">
                        </i>
                      </span>
                      <span>&#8377;{{taxAndChargesCriteria?taxAndChargesCriteria.commissionFeesCharge:''}}</span>
                    </div>
                    <div class="d-flex justify-content-between mt-1">
                      <span>Tax (GST)
                        <i class="bi bi-exclamation-circle" #tooltip="matTooltip"
                          matTooltip="admin can add subadmin with a role and admin can add role">
                        </i>
                      </span>
                      <span>&#8377;{{gstAmount}} </span>
                    </div>
                    <div class="d-flex justify-content-between mt-1">
                      <span>Tax (TCS)
                        <i class="bi bi-exclamation-circle" #tooltip="matTooltip"
                          matTooltip="admin can add subadmin with a role and admin can add role">
                        </i>
                      </span>
                      <span>&#8377;{{tcsAmount}} </span>
                    </div>
                    <div class="d-flex justify-content-between mt-1">
                      <span>Tax (TDS)
                        <i class="bi bi-exclamation-circle" #tooltip="matTooltip"
                          matTooltip="admin can add subadmin with a role and admin can add role">
                        </i>
                      </span>
                      <span>&#8377;{{tdsAmount}} </span>
                    </div>
                    <hr>
                    <div class="d-flex justify-content-between ">
                      <span class="fwBolder">Bank Transfer Amount</span>
                      <span>&#8377;{{bankSettlementAmount}}</span>
                    </div>
                  </div>
                </div>
            
                <!-- Customer Price Breakdown -->
                <div>
                  <div class="card bg-light border-1 mt-3">
                    <div class="card-body fs13">
                      <p class="card-title  fwBolder">Customer Price Breakdown</p>
                      <div class="row align-items-center">

                        <div *ngIf="this.files?.[0]?.previewUrl; else placeholder" class="col-12 text-center mb-3">
                          <img [src]="this.files[0].previewUrl" height="100" width="100" alt="Product Image" class="img-fluid rounded">
                        </div>
                        
                        <ng-template #placeholder>
                          <div class="col-12 text-center mb-3">
                            <img src="https://images.pexels.com/photos/15447422/pexels-photo-15447422/free-photo-of-drone-shot-of-city-at-sunset.jpeg?auto=compress&cs=tinysrgb&w=100&h=100&dpr=1" alt="Product Image" class="img-fluid rounded">
                          </div>
                        </ng-template>
                        
                        

                        <div class="col-12">
                          <div class="d-flex justify-content-between">
                            <span>Price
                              <i class="bi bi-exclamation-circle" #tooltip="matTooltip"
                                matTooltip="section in user app store can create that order cart and process it on behalf of user.">
                              </i>
                            </span>
                            <span>&#8377;{{bankSettlementAmount}}</span>
                          </div>

                          <div class="d-flex justify-content-between">
                            <span>Shipping Charges (separatly)
                              <i class="bi bi-exclamation-circle" #tooltip="matTooltip"
                                matTooltip="Category: admin can add tax on parent categories as some many">
                              </i>
                            </span>
                            <span>&#8377;{{taxAndChargesCriteria? taxAndChargesCriteria.shippingCharge : '' }}</span>
                          </div>

                          <hr>
                          <div class="d-flex justify-content-between fw-bold">
                            <span>Total</span>
                            <div *ngIf="bankSettlementAmount != null">
                              <span>&#8377;
                                {{bankSettlementAmount + taxAndChargesCriteria? taxAndChargesCriteria.shippingCharge : ''}}
                              </span>
                            </div>
                          </div>

                          <hr>
                        </div>
                      </div>
                      <p class="mt-3 small" style="color: #7f8c8d;">
                        Gerations where the user is asked to wait while something finishes and it’s not necessary
                         to indicate how long it will take should use the indeterminate indicator.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            
            </div>
        <!-- Bank Sattlement  -->
  
    </div>
<!-- Form Container Closeed -->




    <!--VARIANT Modal -->
      <div class="modal fade bd-example-modal-lg" id="myModal" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true" #modal>
        <div class="modal-dialog modal-lg modal-dialog-scrollable custom-modal-width">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="myModalLabel">Add Variants</h5>
              <button type="button" class="btn-close" (click)="closeModal()" aria-label="Close"></button>
            </div>

            <div class="modal-body">
              
              <form class="form-row " [formGroup]="productVariantForm" (ngSubmit)="saveChangesProductVariant()" >
                              
                        <div class="row">
                                <div class="col-md-4 mb-2"  *ngFor="let field of makerColorAndSize">

                                  <label [for]="field.identifier" class="form-label fs13">{{ field.name }}</label>

                                  <div>
                                    <select
                                      *ngIf="field.type === 'DROPDOWN' || field.type === 'MULTISELECT'"
                                      [formControlName]="field.identifier"
                                      [id]="field.identifier"
                                      class="form-select"
                                      [ngClass]="{
                                                'is-invalid': productVariantForm.get(field.identifier)?.touched &&
                                                productVariantForm.get(field.identifier)?.invalid
                                                }"
                                    >
                                    <option selected disabled value="">select...</option>
                                      <option *ngFor="let option of field.values" [value]="option">{{ option }}</option>
                                      </select>
                                    </div>


                                  <div *ngIf="productVariantForm.get(field.identifier)?.touched && productVariantForm.get(field.identifier)?.invalid" class="text-danger fs12">
                                      <small *ngIf="productVariantForm.get(field.identifier)?.errors?.['required']">
                                      {{ field.name }} is required.
                                      </small>
                                      <small *ngIf="productVariantForm.get(field.identifier)?.errors?.['minlength']">
                                      Minimum value is {{ field.minLength }}.
                                      </small>
                                      <small *ngIf="productVariantForm.get(field.identifier)?.errors?.['maxlength']">
                                      Maximum value is {{ field.maxLength }}.
                                      </small>
                                  </div>
                              </div>

                              <!-- Add the button as part of the row -->
                              <div class="col-md-4 mb-2 d-flex align-items-end">
                                <button 
                               
                                    color="primary" 
                                    mat-raised-button 
                                    (click)="addVariant()" 
                                    class="w-100">
                                    Add Variant
                                </button>
                              </div>
                              
                        </div>

                        <div *ngIf="showVariantError" class="alert alert-warning fs12" role="alert">
                          The selected color 
                          <span class="alert-link">{{productVariantForm.value.productColor}} </span>
                          and size 
                          <span class="alert-link">{{productVariantForm.value.productSize}} </span>
                          already exist in the variant table !
                        </div>

                          <div class="mt-3" style=" overflow-x: auto;  white-space: nowrap;">

                            <table class="table table-hover table-bordered"  >
                        
                                <thead style="background-color: aliceblue;">
                                    <tr class="fs12 text-center" style="color: #616a6b;">
                                        <th *ngFor="let columnName of VariantTableRowsFormMaker">
                                            {{ columnName.name }}
                                        </th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>


                              <tbody formArrayName="variantTableRows">
                                <tr *ngFor="let tableRow of variantTableRows.controls; let i = index" [formGroupName]="i">
                                  <td *ngFor="let col of VariantTableRowsFormMaker">
                              
                              
                                    <!-- Label Field -->
                                    <div *ngIf="col.type === 'LABEL'">
                                      <input style="width: 150px;" type="text" [formControlName]="col.identifier" class="form-control" readonly />
                                      <!-- {{ tableRow.get(col.identifier)?.value }} -->
                                    </div>
                              
                                    <input style="width: 150px;" 
                                    *ngIf="col.type === 'TEXT'" 
                                      type="text" 
                                      [formControlName]="col.identifier"
                                      [id]="col.identifier"
                                      class="form-control custom-height"
                                      [placeholder]="col.description"
                                      [minlength]="col.minLength"
                                      [maxlength]="col.maxLength"
                                      aria-label="file example"
                                      [ngClass]="{ 'is-invalid': tableRow.get(col.identifier)?.touched && 
                                                     tableRow.get(col.identifier)?.invalid
                                                 }"
                                      (input)="removeNonNumericCharacters($event)" />
                                    <!-- <small class="text-muted">Current value: {{ tableRow.get(col.identifier)?.value }}</small> -->
                              
                                    <!-- Select Box Field -->
                                    <div *ngIf="col.type === 'DROPDOWN'">
                                      <select style="width: 150px;" [formControlName]="col.identifier" [id]="col.identifier" class="form-select"
                                        [ngClass]="{
                                                                                                          'is-invalid': tableRow.get(col.identifier)?.touched &&
                                                                                                          tableRow.get(col.identifier)?.invalid
                                                                                                        }">
                                        <option selected disabled value="">select...</option>
                                        <option *ngFor="let option of col.values" [value]="option">{{ option }}</option>
                                      </select>
                                    </div>
                              
                              
                              
                                    <!-- Error Messages for Select Box -->
                                    <div *ngIf="tableRow.get(col.identifier)?.touched && tableRow.get(col.identifier)?.invalid"
                                      class="text-danger fs12">
                                      <small *ngIf="tableRow.get(col.identifier)?.errors?.['required']">
                                        {{ col.name }} is required.
                                      </small>
                                      <small *ngIf="tableRow.get(col.identifier)?.errors?.['minlength']">
                                        Minimum length is {{ col.minLength }} characters.
                                      </small>
                                      <small *ngIf="tableRow.get(col.identifier)?.errors?.['maxlength']">
                                        Maximum length is {{ col.maxLength }} characters.
                                      </small>
                                    </div>
                                  </td>
                              
                                  <td>
                                    <button mat-raised-button color="primary" (click)="removeAddVariantRow(i)">Remove</button>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                    

                    <div class="d-flex justify-content-end px-2 mt-2">
                        <button  type="submit" mat-raised-button color="primary">
                          Save changes
                        </button>
                    </div>
              </form>
            </div>

            <div class="modal-footer">
              <button type="button" mat-raised-button (click)="closeModal()">Close</button>
            </div>

          </div>
        </div>
      </div>
      











    <!-- IMAGE GUIDLINES MODEL -->
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <p class="modal-title" id="exampleModalLabel">Modal Title</p>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body fs12 ">

            Image quality
            Images should be clear, sharp, and high-quality. They should not be blurry, cluttered, pixelated, or inverted.
            Image size
            The width and height of the image should be at least 1000 pixels. The minimum resolution for images is 1100 x
            1100 pixels.
            Image format
            Images can be in JPEG, TIFF, GIF, or PNG format.
            Image background
            The background should be white or light grey. Images of white products can have a grey background.
            Image content
            Images should not contain watermarks, logos, or text. They should not include the product's MRP or selling
            price.
            Image composition
            The product should fill at least 85% of the frame. For apparel, images should show the front, side, and back of
            the product.
            Image model
            The same model should be used for all angles of a product. The model's hair should not obstruct the product.
            Image upload
            For bulk uploads, images should be uploaded to Dropbox or Google Drive, and then shared as a link in an Excel
            file.
            Image optimization
            Before uploading, images should be optimized to the correct resolution while maintaining quality.
            Image type
            Offensive or objectionable images are not acceptable.

          </div>
        </div>
      </div>
    </div>
    <!-- IMAGE GUIDLINES MODEL --> 




    <!-- IMAGE GUIDLINES MODEL -->
    <!-- Modal -->
    <div class="modal fade"  data-bs-backdrop="static" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"
      #proceedModel>
      <div class="modal-dialog modal-dialog-centered modal-sm">
        <div class="modal-content">
          <div class="modal-body text-center ">
            <div>
              <i class="bi bi-rocket-takeoff fs20" style="color: #45e832;"></i>
            </div>
            <span class="fs12">
              Are , you sure you went to Proceed
            </span>
          </div>
          <div class="mb-3 text-center">
            <button mat-raised-button class="me-2" data-bs-dismiss="modal">Close</button>
            <button mat-raised-button color="primary" (click)="submitProduct()" >Submit</button>
          </div>

          <div *ngIf="progressBar">
            <mat-progress-bar mode="indeterminate"></mat-progress-bar>
          </div>
    
        </div>
      </div>
    </div>
    <!-- IMAGE GUIDLINES MODEL --> 