<div class="container mt-4 mb-4">
    <div class="card border-0 rounded-3 shadow-sm">
        <div class="row d-flex align-items-center">
            <div class="col-md-1">
                <div class="d-flex align-items-center mt-2 p-2">
                    <img src="../../../assets/23984.jpg" alt="Product" height="100" width="100" class="me-2">
                </div>
            </div>

            <div class="col-md-7">
                <div class="d-flex justify-content-between align-items-center">
                    <span class="badge-paid fs11">PAID &#10003;</span>
                    <small class="text-muted fs12">Delivery by 22 Mar, 2025 01:05 pm</small>
                </div>

                <div>
                    <p class="mt-1 font-bold custom-pname">CB-COLEBROOK Men's Regular Fit Solid Soft Touch Cotton</p>
                </div>

                <div class="d-flex align-items-center fs13 order-details">
                    <span><strong>Quantity:</strong> <span>&nbsp; 1</span></span>  
                    &nbsp; | &nbsp;
                    <span><strong>Price:</strong> <span>&nbsp; ₹1200</span></span>
                    &nbsp; | &nbsp;
                    <span><strong>SIZE:</strong> <span>&nbsp; S</span></span> 
                </div>

                <div class="d-flex align-items-center fs13 order-details">
                    <span><strong>Address:</strong> <span>&nbsp; National Capital Territory of Delhi, New Delhi, Delhi, India.</span></span>
                </div>

                <div class="d-flex align-items-center fs13 order-details">
                    <span><strong>User:</strong> <span>&nbsp; 120098 | Aman Suryavanshi </span></span>
                </div>

                <table class="table table-bordered table-sm text-center mt-1" style="font-size: 13px; max-width: 400px;">
                    <thead class="table-light">
                        <tr>
                            <th>Quantity</th>
                            <th>Price</th>
                            <th>Size</th>
                            <th>Color</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>10</td>
                            <td>₹12000</td>
                            <td>S</td>
                            <td>Yellow</td>
                        </tr>
                    </tbody>
                </table>

                <div>
                    <button mat-raised-button class="detailsBtn me-3">Order Details</button>
                    <button mat-raised-button class="trackBtn">Tracker Filler</button>
                </div>
            </div>

            <div class="col-md-4">
                <h1>Heeloooo</h1>
            </div>
        </div>
    </div>
</div>
