<div class="mt-4">



  <div class="container">

    <button class="g-4 trackBtn mt-2 addNewBtn" (click)="addNew()" mat-raised-button>
      <i class="bi bi-node-plus-fill"></i>Add New
    </button>


    <div class="row mt-2">

      <div class="col-md-6">

        <div class="alert">
          <i class="bi bi-window-sidebar px-1 baseColor"></i>
          <p>Brand</p>
        </div>


        <!-- Search Input Starting -->
        <input type="text" placeholder="Search Brand" [(ngModel)]="searchText" (input)="onSearch()"
          class="form-control form-control-sm mb-3" />
        <!-- Search Input Ending -->


        <table class="table table-sm fs11 table-hover">
          <thead>
            <tr class="text-center">

              <th scope="col">S.N</th>
              <th scope="col">Id</th>
              <th scope="col">Brand</th>
              <th scope="col">Default Name</th>
              <th scope="col">Desc</th>
              <th scope="col">status</th>
              <th scope="col">update</th>
              <th scope="col">Remove</th>

            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of filteredItems , let i = index" class="text-center">
              <th scope="row">{{i}}</th>
              <th>{{data.id}}</th>

              <td>{{data.brand}}</td>

              <td>{{data.defaultName}}</td>

              <td>{{data.description}}</td>

              <td *ngIf="data.active">
                <div class="dotGreen">
                  <i class="bi bi-dot"></i>
                </div>
              </td>
              <td *ngIf="!data.active">
                <div class="dotRed">
                  <i class="bi bi-dot"></i>
                </div>
              </td>

              <td>
                <button (click)="getBrandeById(data.id)" type="button" class="btn btn-primary btn-sm">
                  <i class="bi bi-pencil-square bg-primary"></i>
                </button>
              </td>
              <td>
                <button (click)="deleteBrandByid(data.id)" type="button" class="btn btn-sm" style="color: #ff1818;">
                  <i class="bi bi-file-earmark-x-fill"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>

        <mat-paginator [pageSizeOptions]="[10, 20, 30, 40]" [pageSize]="10" [length]="totalElements"
          (page)="nextPage($event)" showFirstLastButtons>
        </mat-paginator>

      </div>


      <div class="col-md-6">

        <!-- SAVE BRAND STARTING -->
        <div *ngIf="!viceVersaForm">
          <div class="alert">
            <i class="bi bi-window-sidebar px-1 baseColor"></i>
            <p>BRAND</p>
          </div>


          <form name="form" #f="ngForm" (ngSubmit)="f.form.valid && saveBrand()" novalidate>


            <div class="form-group">
              <label class="fs12">Brand</label>
              <input type="text" class="form-control form-control-sm" name="brand" [(ngModel)]="form.brand" required
                #brand="ngModel" minlength="5" maxlength="200" [class.dirty]="brand.dirty"
                [class.touched]="brand.touched"
                [ngClass]="{ 'is-invalid': brand.errors && (brand.touched || brand.dirty ) }" />

              <div *ngIf="brand.errors && (brand.touched || brand.dirty )" class="invalid-feedback">

                <div *ngIf="brand.errors['required'] ">
                  Brand is required
                </div>

                <div *ngIf="brand.errors['minlength']">
                  Brand must be at least 5 characters
                </div>

                <div *ngIf="brand.errors['maxlength']">
                  Brand must be at most 200 characters
                </div>
              </div>
            </div>


            <div class="row">
              <div class="col">
                <div class="form-group">
                  <label class="fs12">Default Name</label>
                  <input type="text" class="form-control form-control-sm" name="defaultName"
                    [(ngModel)]="form.defaultName" required #defaultName="ngModel" [class.dirty]="defaultName.dirty"
                    [class.touched]="defaultName.touched"
                    [ngClass]="{ 'is-invalid': defaultName.errors && (defaultName.touched || defaultName.dirty ) }" />

                  <div *ngIf="defaultName.errors && (defaultName.touched || defaultName.dirty )"
                    class="invalid-feedback">

                    <div *ngIf="defaultName.errors['required'] ">
                      DefaultName is required
                    </div>
                  </div>
                </div>
              </div>
            </div>



            <div class="form-group">
              <label class="fs12">Description</label>
              <textarea style="height: 100px" type="text" class="form-control form-control-sm" name="description"
                [(ngModel)]="form.description" required #description="ngModel" minlength="5" maxlength="500"
                [class.dirty]="description.dirty" [class.touched]="description.touched"
                [ngClass]="{ 'is-invalid': description.errors && (description.touched || description.dirty ) }">
                    </textarea>

              <div *ngIf="description.errors && (description.touched || description.dirty )" class="invalid-feedback">

                <div *ngIf="description.errors['required'] ">
                  description is required
                </div>

                <div *ngIf="description.errors['minlength']">
                  description must be at least 5 characters
                </div>

                <div *ngIf="description.errors['maxlength']">
                  description must be at most 500 characters
                </div>
              </div>
            </div>



            <div class="d-grid gap-2 col-12 mx-auto mt-4">
              <button mat-raised-button color="primary" [disabled]="f.invalid">save BRAND</button>
            </div>

          </form>

          <!-- SAVE BRAND ENDING -->

        </div>

        <div *ngIf="viceVersaForm">
          <!-- UPDATE BRAND  START-->
          <div class="alert">
            <i class="bi bi-window-sidebar px-1 baseColor"></i>
            <p>Update BRAND</p>
          </div>


          <form name="form" #f="ngForm" (ngSubmit)="f.form.valid && updateBrand()" novalidate>


            <div class="form-group">
              <label class="fs12">Brand</label>
              <input [(ngModel)]="updateform.brand" type="text" class="form-control form-control-sm" name="brand"
                [(ngModel)]="form.brand" required #brand="ngModel" minlength="5" maxlength="200"
                [class.dirty]="brand.dirty" [class.touched]="brand.touched"
                [ngClass]="{ 'is-invalid': brand.errors && (brand.touched || brand.dirty ) }" />

              <div *ngIf="brand.errors && (brand.touched || brand.dirty )" class="invalid-feedback">

                <div *ngIf="brand.errors['required'] ">
                  Brand is required
                </div>

                <div *ngIf="brand.errors['minlength']">
                  Brand must be at least 5 characters
                </div>

                <div *ngIf="brand.errors['maxlength']">
                  Brand must be at most 40 characters
                </div>
              </div>
            </div>





            <div class="row">
              <div class="col">
                <div class="form-group">
                  <label class="fs12">default Name</label>
                  <input [(ngModel)]="updateform.defaultName" type="text" class="form-control form-control-sm"
                    name="defaultName" [(ngModel)]="form.defaultName" required #defaultName="ngModel"
                    [class.dirty]="defaultName.dirty" [class.touched]="defaultName.touched"
                    [ngClass]="{ 'is-invalid': defaultName.errors && (defaultName.touched || defaultName.dirty ) }" />

                  <div *ngIf="defaultName.errors && (defaultName.touched || defaultName.dirty )"
                    class="invalid-feedback">

                    <div *ngIf="defaultName.errors['required'] ">
                      categoryName is required
                    </div>
                  </div>
                </div>
              </div>
            </div>




            <div class="form-group">
              <label class="fs12">Description</label>
              <textarea style="height: 100px" type="text" [(ngModel)]="updateform.description"
                class="form-control form-control-sm" name="description" [(ngModel)]="form.description" required
                #description="ngModel" minlength="5" maxlength="500" [class.dirty]="description.dirty"
                [class.touched]="description.touched"
                [ngClass]="{ 'is-invalid': description.errors && (description.touched || description.dirty ) }">
                   </textarea>

              <div *ngIf="description.errors && (description.touched || description.dirty )" class="invalid-feedback">

                <div *ngIf="description.errors['required'] ">
                  description is required
                </div>

                <div *ngIf="description.errors['minlength']">
                  description must be at least 5 characters
                </div>

                <div *ngIf="description.errors['maxlength']">
                  description must be at most 500 characters
                </div>
              </div>
            </div>

            <div class="form-group">
              <label class="fs12 mt-3">Category Status</label>
              <div>
                <mat-slide-toggle name="isActive" [(ngModel)]="updateform.active">
                </mat-slide-toggle>
              </div>
            </div>


            <div class="d-grid gap-2 col-12 mx-auto mt-4">
              <button mat-raised-button color="primary" [disabled]="f.invalid">Update Brand</button>
            </div>

          </form>
          <!-- UPDATE BRAND ENDING -->

        </div>

      </div>

    </div>

  </div>

</div>