

<div *ngIf="showSuccessPage"  class=" d-flex justify-content-center align-items-center">
    <div class="card col-md-6 bg-white shadow-md p-5 border-0"> 
        <div class="mb-4 text-center">
            <i class="bi bi-check2-circle" style="font-size: 70px;color: #45e832;"></i>
        </div>
        <div class="text-center">
            <h1 style="color: #45e832;">Thank You !</h1>
            <p>Product Submit SuccessFully|  </p>
            <p>Please Check Your Product to Incomplete OR Under Review Tab </p>

            <a href="/seller/dashboard/home" routerLink="/seller/dashboard/home"
             mat-raised-button style="background-color: #45e832;color: white;"  >
             Back Home
            </a>
        </div>
    </div>