.parentTable{
    background-color: #e8f8f5;
    font-family: sans-serif;
}



.headingStyle {
    font-size:14px;
    font-weight: bold;
    text-align: center;
    background: #f0f0f0;
    padding: 10px;
    border-radius: 8px;
    color: #4361ee;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    max-width: 220px;
  }


  .complete-status{
    background-color: #e6ffc0;
  }

  .incomplete-status{
    background-color: #fcf8a9;;
  }

  .productStatusComplete{
    background-color: #a2e142;
    border-radius: 2px;
    padding: 4px;
  }

  .productStatusInComplete{
    background-color: #f6dc1f;
    border-radius: 2px;
    padding: 4px;
  }