<div class="container mt-3">
  <div>
    <h5 class="headingStyle">
      <i class="bi bi-bag-fill"></i>
      <span style="font-family: Georgia, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;" >
        Products with Variants
      </span>
    </h5>
  </div>

  <table class="table table-bordered table-hover">
    <thead>
      <tr class="fs12">
        <th>product-Id</th>
        <th>Image</th>
        <th>Product Name</th>
        <th>Creation Date</th>
        <th>Creation Time</th>
        <th>Color</th>
        <th>Status</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody *ngIf="dataCaptured && dataCaptured.length > 0;"  class="complete-status" >
      <ng-container *ngFor="let parent of dataCaptured">
        <!-- Parent Row -->
        <tr class="fs12">
          <td>{{ parent.id }}</td>
          <td>
            <img *ngIf="parent.fileUrl" [src]="parent.fileUrl" [alt]="parent.fileName"
              style="width: 50px; height: 50px;" />
          </td>
          <td>{{ parent.productName }}</td>
          <td>{{ parent.creationDate }}</td>
          <td>{{ parent.creationTime }}</td>
          <td>{{ parent.productColor }}</td>

          <td>
            <span class="fs11 productStatusComplete">
              {{ parent.productStatus }}
            </span>
          </td>

          <td>
            <button mat-raised-button color="primary" data-bs-toggle="collapse"
              [attr.data-bs-target]="'#collapse-' + parent.id" aria-expanded="true"
              [attr.aria-controls]="'collapse-' + parent.id">
              Variant
              <i class="bi bi-caret-down"></i>
            </button>
          </td>
        </tr>

        <!-- Child Rows -->
        <tr>
          <td colspan="8" class="p-0">
            <div [id]="'collapse-' + parent.id" class="collapse" [class.show]="parent.isExpanded">
              <table class="mt-1 table mb-0 table-bordered fs12 childTable table-hover">
                <thead style="background-color: #eff1ee;">
                  <tr>
                    <th>product Id</th>
                    <th>Image</th>
                    <th>Variant Name</th>
                    <th>Creation Date</th>
                    <th>Creation Time</th>
                    <th>Color</th>
                    <th>Status</th>
                    <th>Actions</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let variant of parent.sellerProductVariantPayloads" class="fs12"
                      [ngClass]="{
                        'complete-status': variant.productStatus === 'COMPLETE',
                        'incomplete-status': variant.productStatus !== 'COMPLETE'
                      }"
                      >
                    <td>{{ variant.id }}</td>

                    <td *ngIf="variant.fileUrl !== null ">
                      <img [src]="variant.fileUrl" [alt]="variant.fileName" style="width: 50px; height: 50px;" />
                    </td>

                    <td *ngIf="variant.fileUrl === '' || variant.fileUrl === null ">
                      <img src="../../../../../assets/Varinat Images/Varinat Sample 1.png" alt="Product Image"
                        style="width: 50px; height: 50px;" /><br>
                      <span class="fs10">Please Upload images</span>
                    </td>

                    <td>{{ variant.productName }}</td>
                    <td>{{ variant.creationDate }}</td>
                    <td>{{ variant.creationTime }}</td>
                    <td>{{ variant.productColor }}</td>

                    <td>
                      <span *ngIf="variant.productStatus === 'IN_COMPLETE'" class="fs11 productStatusInComplete">
                        {{ variant.productStatus }}
                      </span>
                      <span *ngIf="variant.productStatus === 'COMPLETE'" class="fs11 productStatusComplete">
                        {{ parent.productStatus }}
                      </span>
                    </td>

                    <td>
                      <button *ngIf="variant.productStatus === 'IN_COMPLETE'" mat-raised-button (click)="variantProceedBoxOpen(variant.id)"
                        style="background-color: #f6dc1f;">
                        Edit Variant
                      </button>

                      <span *ngIf="variant.productStatus === 'COMPLETE'" class="text-success fs24 d-flex ">
                        <i class="bi bi-check-all"></i>
                      </span>

                    </td>

                  </tr>
                </tbody>
              </table>
            </div>
          </td>
        </tr>
      </ng-container>
    </tbody>
  </table>

  <div *ngIf=" dataCaptured && dataCaptured.length <= 0" class="text-center p-2">
    <img src="../../../../../assets/no-data-found-images/no-data-found-image.png" height="300" width="300" alt="No data found">
    <p class="text-center mt-3">
      No data available
    </p>
  </div>

</div>

<div *ngIf="capturedResult === false">
    <ngx-skeleton-loader animation="progress"  [theme]="{ 'border-radius': '5px',height: '30px',background:'#e6f6ff' }" count="12" appearance="line" />
</div>
  




 <!-- Proceed Box-->
 <div  #proccedBox class="modal fade" id="proceedBox" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" style="max-width: 330px;height: 90px;">
    <div class="modal-content">

      <div class="modal-body fs12 text-center">

          <i class=" fs22  bi bi-send-check-fill" style="color: #000080;"></i>

        <p>
          Are, you sure you want to Edit Variant : {{cVariantId}} ?
        </p>

        <div class="d-flex justify-content-center gap-3" >
          <button type="button" mat-raised-button data-bs-dismiss="modal">Close</button>
          <button type="button" mat-raised-button color="primary" (click)="variantEditModeProceed()" data-bs-dismiss="modal">Procced</button>
        </div>
        
      </div>

    </div>
  </div>
</div>
<!-- Proceed Box-->